---
#########################################################
## SAML SP
#########################################################
- include_role:
    name: "simplesamlphp"
    public: true
  vars:
    simplesaml_name: "{{demosp_name}}"
    simplesaml_user: "{{demosp_user}}"
    simplesaml_group: "{{demosp_group}}"
    simplesaml_project_dir: "{{demosp_dir}}"

- name: SimpleSaml configuration
  template:
    src: "{{item}}.j2"
    dest: "{{ demosp_dir }}/config/{{item}}"
  with_items:
    - "saml20-idp-remote.php"

- name: Link SimpleSaml configuration
  file:
    src: "{{ demosp_dir }}/config/{{item.key}}"
    path: "{{ demosp_dir }}/simplesaml/{{item.value}}/{{item.key}}"
    state: "link"
    force: true
  with_dict:
    saml20-idp-remote.php: "metadata"

- name: Generate a SAML signing certificate
  command:
    cmd: >
      openssl req -x509 -newkey rsa:2048 -sha256 -days 36500 -nodes
              -keyout saml.key -out saml.pem
              -subj '/CN=simpelsamlphp/'
    chdir: "{{demosp_dir}}/cert"
    creates: "{{demosp_dir}}/cert/saml.pem"

- name: Set permissions for keys
  file:
    path: "{{demosp_dir}}/cert/saml.key"
    mode: "0640"
    group: "{{demosp_group}}"

- name: Install EduTeams certs
  copy:
    src: "{{item}}"
    dest: "{{demosp_dir}}/cert/{{item}}"
  with_items:
    - "eduteams-prd.pem"
    - "eduteams-acc.pem"
    - "sram-test2.pem"

#########################################################
## OIDC RP
#########################################################
- name: Ensure that packages are installed
  apt:
    name:
      - composer
    state: present

- name: Install JumboJett OIDC PHP module
  community.general.composer:
    command: "require"
    arguments: "jumbojett/openid-connect-php"
    working_dir: "{{ demosp_dir}}"
    no_scripts: true
    no_plugins: true
  environment:
    # TODO: fix this; create a separate user that own the files and can run composer
    COMPOSER_ALLOW_SUPERUSER: "1"
  notify: "restart php-fpm"

- name: Install OIDC RP config
  template:
    src: "rp_config.php.j2"
    dest: "{{demosp_dir}}/rp_config.php"
    owner: "root"
    group: "{{demosp_group}}"
    mode: "0640"
  notify: "restart php-fpm"

- name: Install OIDC RP
  template:
    src: "rp.php.j2"
    dest: "{{demosp_html_dir}}/rp.php"
    mode: "0644"
  notify: "restart php-fpm"

#########################################################
## Demop app
#########################################################
- name: Create html dir
  file:
    path: "{{demosp_html_dir}}"
    state: "directory"
    mode: "0755"

- name: Copy DemoSP files
  copy:
    src: "{{item}}"
    dest: "{{demosp_html_dir}}"
    mode: "0644"
  with_items:
    - "index.html"
    - "auth.css"
    - "auth.php"
    - "demosp.css"
  notify: "restart php-fpm"

- name: Install Bootstrap
  get_url:
    url: "{{demosp_bootstrap_url}}"
    dest: "{{demosp_html_dir}}/bootstrap.min.css"
    mode: "0644"
    checksum: "{{demosp_bootstrap_chksum}}"

#########################################################
## nginx
#########################################################
- include_role:
    name: "nginx"

- include_role:
    name: "letsencrypt"
    public: true
  vars:
    letsencrypt_hosts: [ "demo-sp.sram.surf.nl" ]
    letsencrypt_server: "{{ bhr13_acme_server_url }}"
    letsencrypt_eab: true
    letsencrypt_eab_keyid: "{{ bhr13_acme_eab_keyid }}"
    letsencrypt_eab_hmac: "{{ bhr13_acme_hmac_key }}"

- name: Install nginx config
  template:
    src: "nginx.conf.j2"
    dest: "/etc/nginx/sites-enabled/01-sram-demosp.conf"
  notify: "restart nginx"

- name: Restart nginx after certificate rollover
  copy:
    content: |
      #!/bin/sh
      echo "restarting nginx"
      /usr/bin/systemctl reload nginx.service
      exit 0
    dest: "{{letsencrypt_hooks}}/sram-nginx.sh"
    mode: "0755"
