Listen {{ orcid_test_port }}

<VirtualHost *:{{ orcid_test_port }}>
        ServerName {{ inventory_hostname }}

        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/html

        Alias /saml {{ simplesaml_project_dir }}/simplesaml/www

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        SSLEngine on
        SSLCertificateFile {{ ssl_certs_dir }}/{{ internal_base_domain }}.crt
        SSLCertificateKeyFile {{ ssl_certs_dir }}/{{ internal_base_domain }}.key

        <Directory {{ simplesaml_project_dir }}>
            Options FollowSymLinks
            AllowOverride None
            Order allow,deny
            allow from all
            Require all granted
        </Directory>
</VirtualHost>
