---
ldap:
  src:
    uri: ldapi:///
    basedn: {{ services_ldap.basedn }}
    binddn: external
    passwd: {{ services_ldap_password }}
  dst:
    uri: ldapi:///
    basedn: {{ services_ldap.basedn }}
    binddn: external
    passwd: {{ services_ldap_password }}
pwd: changethispassword
uid: 1000
gid: 1000
