#!/bin/sh
# vim:ft=sh
for CONF in {{lsc_config_dir}}/*/; do
  CONF=${CONF%*/}
  echo $CONF

  # first run pre-sync scripts
  if [ -d "$CONF/pre-sync.d" ]
  then
      /bin/run-parts --verbose "$CONF/pre-sync.d"
  fi

  # add local keystore, if present
  MY_JAVA_OPTS=
  if [ -e "$CONF/keystore" ]
  then
    # stupid java requires a 6-charatcer password, even if there is nothing special in the trust store
    MY_JAVA_OPTS="-Djavax.net.ssl.trustStore=$CONF/cacerts -Djavax.net.ssl.trustStorePassword=changeit"
  fi

  echo "Running Sync Tasks"
  /usr/bin/env JAVA_OPTS="$JAVA_OPTS $MY_JAVA_OPTS" /usr/bin/lsc -f $CONF -t 1 -s all >/dev/null
  echo "Running Cleanup Tasks"
  /usr/bin/env JAVA_OPTS="$JAVA_OPTS $MY_JAVA_OPTS" /usr/bin/lsc -f $CONF -t 1 -c all >/dev/null
done
