[Unit]
Description=Weblogin cleanup
After=syslog.target network.target

[Service]
Type=oneshot
WorkingDirectory={{weblogin_basedir}}

# clean up
ExecStart=-/usr/bin/docker rm -f {{ containers.weblogin }}
ExecStart=+/bin/rm -rf '{{weblogin_basedir}}/home'
ExecStart=+/bin/mkdir -p -m0755 '{{weblogin_basedir}}/home'

# start container
ExecStart=/usr/bin/docker run -d \
    -p 0.0.0.0:{{ ports.weblogin }}:22 \
    -e URL={{ demo1_weblogin_url }} \
    -e TOKEN={{ demo1_weblogin_token }} \
    -v {{ weblogin_basedir }}/home:/home:rw \
    --name {{ containers.weblogin }} \
    --network {{ internal_network }} \
    --restart always \
    {{ images.weblogin }}
SyslogIdentifier=weblogin-cleanup

[Install]
WantedBy=multi-user.target
