[Unit]
Description=Weblogin cleanup
After=syslog.target network.target

[Service]
Type=oneshot
WorkingDirectory={{weblogin_basedir}}/home
ExecStart=/usr/bin/docker stop {{ containers.weblogin }}
ExecStart=/usr/bin/docker rm {{ containers.weblogin }}
ExecStart=+/bin/sh -c 'rm -rf {{weblogin_basedir}}/home/.??*'
ExecStart=+/bin/sh -c 'rm -rf {{weblogin_basedir}}/home/*'
ExecStart=/usr/bin/docker run -d \
    -p {{ ports.weblogin }}:22 \
    -e URL={{ demo1_weblogin_url }} \
    -e TOKEN={{ demo1_weblogin_token }} \
    -v {{ weblogin_basedir }}/home:/home \
    --name {{ containers.weblogin }} \
    --network {{ internal_network }} \
    {{ images.weblogin }}
SyslogIdentifier=weblogin-cleanup

[Install]
WantedBy=multi-user.target
