[Unit]
Description=SRAM Monitor

[Service]
User={{sram_monitor_user}}
Type=oneshot
WorkingDirectory={{sram_monitor_dir}}
ExecStart={{sram_monitor_dir}}/run_sram_monitoring.sh acc
ExecStart={{sram_monitor_dir}}/run_sram_monitoring.sh prd
