LoadModule auth_openidc_module /usr/lib/apache2/modules/mod_auth_openidc.so

Listen {{ oidc_test_port }}

<VirtualHost *:{{ oidc_test_port }}>
        ServerName {{ hostnames.oidc }}

        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/html

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        OIDCProviderMetadataURL https://{{ hostnames.proxy }}/.well-known/openid-configuration
        OIDCSSLValidateServer Off
        OIDCClientID oidctest
        OIDCClientSecret test
        OIDCResponseType "code"
        OIDCResponseMode "query"
        OIDCScope "openid email profile address phone"
        OIDCAuthRequestParams claims={"userinfo":{"edumember_is_member_of":null,"schac_home_organisation":null,"eduperson_affiliation":null,"nickname":null,"name":null,"uid":null,"email":null,"family_name":null,"eppn":null,"address":{"street_address":null},"idpcountry":null,"idpname":null}}

        OIDCRedirectURI https://{{ hostnames.oidc }}/oidc/redirect_uri
        OIDCCryptoPassphrase randompassword

        <Location /oidc/>
           AuthType openid-connect
           Require valid-user
        </Location>
</VirtualHost>
