<h1>SP-Test root</h1>
<p><a href="https://{{ hostnames.sp }}/saml/module.php/core/authenticate.php?as=default-sp">SAML SP Test</a></p>
<p><a href="https://{{ hostnames.oidc }}/oidc/">OIDC RP Test</a></p>
