server {
    listen      80 default_server;
    listen [::]:80 default_server;

    server_name _;

    add_header X-Content-Type-Options "nosniff";

    location / {
        return 403;
    }
}

{% for h in http_hosts %}
server {
    listen      80;
    listen [::]:80;

    server_name {{ h }};

    add_header X-Content-Type-Options "nosniff";

{% if letsencrypt_challenge_dir is defined %}
    location /.well-known/acme-challenge {
        alias {{letsencrypt_challenge_dir}}/.well-known/acme-challenge;
    }
{% endif %}

    location / {
        rewrite ^(.*) https://{{ h }}$1 permanent;
    }
}
{% endfor %}
