.ansible/
.vagrant/
.mypy_cache/
.vscode/
vagrant.log
provision.retry
provision_status.json
logs/
__pycache__/
*.pyc
*~
core
.venv/
.idea/
secret_vm
ansible_key*
docker/docker-compose.yml
docker/docker-compose-ci.yml
docker/known_hosts
.DS_STORE
.DS_Store
mitogen
ci-runner/lib
ci-runner/bin
ci-runner/pyvenv.cfg
screenshot.png
ignore.main.yml
