# custom config for yamllint
# vim:ft=yaml:expandtab:sw=2

extends: default

rules:
  braces:
    min-spaces-inside: 0
    max-spaces-inside: -1
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: -1
  commas:
    max-spaces-before: 0
    min-spaces-after: 0
    max-spaces-after: -1
  comments:
    require-starting-space: no
  colons:
    max-spaces-before: 0
    max-spaces-after: -1
  empty-lines:
    max-end: 1
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
  line-length:
    max: 255
    allow-non-breakable-words: false
  truthy: disable
