<?php
/**
  * SURFnet {{ environment_string }} backend metadata
  **/

{% set entity_test_sp     = "https://" ~ hostnames.sp ~ "/saml/module.php/saml/sp/metadata.php/default-sp" %}
{% set entity_test_sp_b64 = entity_test_sp | b64encode                                %}

# entity_test_sp: {{entity_test_sp}}
# entity_test_sp_b64: {{entity_test_sp_b64}}

$metadata['https://{{ hostnames.proxy }}/md/SamlSP.xml'] = array (
  'entityid' => 'https://{{ hostnames.proxy }}/md/SamlSP.xml',
  'description' =>
  array (
    'en' => '{{ environment_string }} Proxy SP',
  ),
  'OrganizationName' =>
  array (
    'en' => '{{ environment_string }} Proxy SP',
  ),
  'name' =>
  array (
    'en' => '{{ environment_string }} Proxy SP',
  ),
  'OrganizationDisplayName' =>
  array (
    'en' => '{{ environment_string }} Proxy SP',
  ),
  'url' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'OrganizationURL' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'contacts' =>
  array (
    0 =>
    array (
      'contactType' => 'technical',
      'givenName' => 'Technical',
      'emailAddress' =>
      array (
        0 => 'technical@{{ hostnames.proxy }}',
      ),
    ),
    1 =>
    array (
      'contactType' => 'support',
      'givenName' => 'Support',
      'emailAddress' =>
      array (
        0 => 'support@{{ hostnames.proxy }}',
      ),
    ),
  ),
  'metadata-set' => 'saml20-sp-remote',
  'AssertionConsumerService' =>
  array (
    0 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST',
      'Location' => 'https://{{ hostnames.proxy }}/SamlSP/acs/post',
      'index' => 1,
    ),
    1 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
      'Location' => 'https://{{ hostnames.proxy }}/SamlSP/acs/redirect',
      'index' => 2,
    ),
  ),
  'SingleLogoutService' =>
  array (
  ),
  'NameIDFormat' => 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent',
  'keys' =>
  array (
    0 =>
    array (
      'encryption' => true,
      'signing' => true,
      'type' => 'X509Certificate',
      'X509Certificate' => '{{ satosa_backend_cert.pub | barepem }}',
    ),
  ),
  'validate.authnrequest' => false,
  'saml20.sign.assertion' => true,
  'assertion.encryption' => true,
);

$metadata['https://{{ hostnames.proxy }}/md/SamlMirrorSP.xml/SamlIdP/{{ entity_test_sp_b64 }}'] = array (
  'entityid' => 'https://{{ hostnames.proxy }}/md/SamlMirrorSP.xml/SamlIdP/{{ entity_test_sp_b64 }}',
  'description' =>
  array (
    'en' => '{{ environment_string }} Proxy Mirror SP',
  ),
  'OrganizationName' =>
  array (
    'en' => '{{ environment_string }} Proxy Mirror SP',
  ),
  'name' =>
  array (
    'en' => 'SURF {{ environment_string }} SP',
  ),
  'OrganizationDisplayName' =>
  array (
    'en' => '{{ environment_string }} Proxy Mirror SP',
  ),
  'url' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'OrganizationURL' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'contacts' =>
  array (
    0 =>
    array (
      'contactType' => 'technical',
      'givenName' => 'Administrator',
      'emailAddress' =>
      array (
        0 => 'info@example.org',
      ),
    ),
  ),
  'metadata-set' => 'saml20-sp-remote',
  'AssertionConsumerService' =>
  array (
    0 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST',
      'Location' => 'https://{{ hostnames.proxy }}/SamlMirrorSP/acs/post',
      'index' => 1,
    ),
    1 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
      'Location' => 'https://{{ hostnames.proxy }}/SamlMirrorSP/acs/redirect',
      'index' => 2,
    ),
  ),
  'SingleLogoutService' =>
  array (
  ),
  'NameIDFormat' => 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent',
  'keys' =>
  array (
    0 =>
    array (
      'encryption' => false,
      'signing' => true,
      'type' => 'X509Certificate',
      'X509Certificate' => '{{ satosa_backend_cert.pub | barepem  }}',
    ),
  ),
  'validate.authnrequest' => false,
  'saml20.sign.assertion' => true,
  'UIInfo' =>
  array (
    'DisplayName' =>
    array (
      'en' => 'SURF {{ environment_string }} SP',
    ),
    'Description' =>
    array (
      'en' => 'SURF {{ environment_string }} SP description',
    ),
    'InformationURL' =>
    array (
    ),
    'PrivacyStatementURL' =>
    array (
    ),
    'Logo' =>
    array (
      0 =>
      array (
        'url' => 'https://{{ hostnames.sp }}/saml/resources/icons/ssplogo-fish-small.png',
        'height' => 41,
        'width' => 60,
      ),
    ),
  ),
);

$metadata['https://{{ hostnames.proxy }}/md/SamlMirrorSP.xml/SamlMirrorIdP/{{ entity_test_sp_b64 }}'] = array (
  'entityid' => 'https://{{ hostnames.proxy }}/md/SamlMirrorSP.xml/SamlMirrorIdP/{{ entity_test_sp_b64 }}',
  'description' =>
  array (
    'en' => '{{ environment_string }} Proxy Mirror SP',
  ),
  'OrganizationName' =>
  array (
    'en' => '{{ environment_string }} Proxy Mirror SP',
  ),
  'name' =>
  array (
    'en' => 'SURF {{ environment_string }} SP',
  ),
  'OrganizationDisplayName' =>
  array (
    'en' => '{{ environment_string }} Proxy Mirror SP',
  ),
  'url' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'OrganizationURL' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'contacts' =>
  array (
    0 =>
    array (
      'contactType' => 'technical',
      'givenName' => 'Administrator',
      'emailAddress' =>
      array (
        0 => 'info@example.org',
      ),
    ),
  ),
  'metadata-set' => 'saml20-sp-remote',
  'AssertionConsumerService' =>
  array (
    0 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST',
      'Location' => 'https://{{ hostnames.proxy }}/SamlMirrorSP/acs/post',
      'index' => 1,
    ),
    1 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
      'Location' => 'https://{{ hostnames.proxy }}/SamlMirrorSP/acs/redirect',
      'index' => 2,
    ),
  ),
  'SingleLogoutService' =>
  array (
  ),
  'NameIDFormat' => 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent',
  'keys' =>
  array (
    0 =>
    array (
      'encryption' => false,
      'signing' => true,
      'type' => 'X509Certificate',
      'X509Certificate' => '{{ satosa_backend_cert.pub | barepem  }}',
    ),
  ),
  'validate.authnrequest' => false,
  'saml20.sign.assertion' => true,
  'UIInfo' =>
  array (
    'DisplayName' =>
    array (
      'en' => 'SURF {{ environment_string }} SP',
    ),
    'Description' =>
    array (
      'en' => 'SURF {{ environment_string }} SP description',
    ),
    'InformationURL' =>
    array (
    ),
    'PrivacyStatementURL' =>
    array (
    ),
    'Logo' =>
    array (
      0 =>
      array (
        'url' => 'https://{{ hostnames.sp }}/saml/resources/icons/ssplogo-fish-small.png',
        'height' => 41,
        'width' => 60,
      ),
    ),
  ),
);
$metadata['https://{{ hostnames.proxy }}/md/SamlMirrorSP.xml/OIDC/cG9zdG1hbg=='] = array (
  'entityid' => 'https://{{ hostnames.proxy }}/md/SamlMirrorSP.xml/OIDC/cG9zdG1hbg==',
  'description' =>
  array (
    'en' => '{{ environment_string }} Proxy Mirror SP',
  ),
  'OrganizationName' =>
  array (
    'en' => '{{ environment_string }} Proxy Mirror SP',
  ),
  'name' =>
  array (
    'en' => '{{ environment_string }} Proxy Mirror SP',
  ),
  'OrganizationDisplayName' =>
  array (
    'en' => '{{ environment_string }} Proxy Mirror SP',
  ),
  'url' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'OrganizationURL' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'contacts' =>
  array (
    0 =>
    array (
      'contactType' => 'technical',
      'givenName' => 'Technical',
      'emailAddress' =>
      array (
        0 => 'technical@{{ hostnames.proxy }}',
      ),
    ),
    1 =>
    array (
      'contactType' => 'support',
      'givenName' => 'Support',
      'emailAddress' =>
      array (
        0 => 'support@{{ hostnames.proxy }}',
      ),
    ),
  ),
  'metadata-set' => 'saml20-sp-remote',
  'AssertionConsumerService' =>
  array (
    0 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST',
      'Location' => 'https://{{ hostnames.proxy }}/SamlMirrorSP/acs/post',
      'index' => 1,
    ),
    1 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
      'Location' => 'https://{{ hostnames.proxy }}/SamlMirrorSP/acs/redirect',
      'index' => 2,
    ),
  ),
  'SingleLogoutService' =>
  array (
  ),
  'NameIDFormat' => 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent',
  'keys' =>
  array (
    0 =>
    array (
      'encryption' => false,
      'signing' => true,
      'type' => 'X509Certificate',
      'X509Certificate' => '{{ satosa_backend_cert.pub | barepem  }}',
    ),
  ),
  'validate.authnrequest' => false,
  'saml20.sign.assertion' => true,
);
$metadata['https://{{ hostnames.proxy }}/md/SamlMirrorSP.xml/OIDC/b2lkY3Rlc3Q='] = array (
  'entityid' => 'https://{{ hostnames.proxy }}/md/SamlMirrorSP.xml/OIDC/b2lkY3Rlc3Q=',
  'description' =>
  array (
    'en' => '{{ environment_string }} Proxy Mirror SP',
  ),
  'OrganizationName' =>
  array (
    'en' => '{{ environment_string }} Proxy Mirror SP',
  ),
  'name' =>
  array (
    'en' => '{{ environment_string }} Proxy Mirror SP',
  ),
  'OrganizationDisplayName' =>
  array (
    'en' => '{{ environment_string }} Proxy Mirror SP',
  ),
  'url' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'OrganizationURL' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'contacts' =>
  array (
    0 =>
    array (
      'contactType' => 'technical',
      'givenName' => 'Technical',
      'emailAddress' =>
      array (
        0 => 'technical@{{ hostnames.proxy }}',
      ),
    ),
    1 =>
    array (
      'contactType' => 'support',
      'givenName' => 'Support',
      'emailAddress' =>
      array (
        0 => 'support@{{ hostnames.proxy }}',
      ),
    ),
  ),
  'metadata-set' => 'saml20-sp-remote',
  'AssertionConsumerService' =>
  array (
    0 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST',
      'Location' => 'https://{{ hostnames.proxy }}/SamlMirrorSP/acs/post',
      'index' => 1,
    ),
    1 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
      'Location' => 'https://{{ hostnames.proxy }}/SamlMirrorSP/acs/redirect',
      'index' => 2,
    ),
  ),
  'SingleLogoutService' =>
  array (
  ),
  'NameIDFormat' => 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent',
  'keys' =>
  array (
    0 =>
    array (
      'encryption' => false,
      'signing' => true,
      'type' => 'X509Certificate',
      'X509Certificate' => '{{ satosa_backend_cert.pub | barepem  }}',
    ),
  ),
  'validate.authnrequest' => false,
  'saml20.sign.assertion' => true,
);
