DROP DATABASE sbs;
CREATE DATABASE sbs DEFAULT CHARACTER SET utf8;
CREATE DATABASE sbs_test DEFAULT CHARACTER SET utf8;
CREATE USER '{{ sbs_db_user }}'@'localhost' IDENTIFIED BY '{{ sbs_db_password }}';
GRANT ALL PRIVILEGES ON *.* TO '{{ sbs_db_user }}'@'%' WITH GRANT OPTION;
