# {0}config is the services ldap config
dn: olcDatabase={0}config,cn=config
changetype: modify
replace: olcAccess
olcAccess: to *
  by dn.exact=gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth manage
{% if environment_name=="vm" %}
olcAccess: to *
  by dn.exact=gidNumber=1000+uidNumber=1000,cn=peercred,cn=external,cn=auth manage
{% endif %}
olcAccess: to *
  by dn.exact="{{ services_ldap.binddn }}" manage
  by * break

# {1}mdb is the main COmanage database
dn: olcDatabase={1}mdb,cn=config
changetype: modify
replace: olcSuffix
olcSuffix: {{ services_ldap.basedn }}
-
replace: olcRootDN
olcRootDN: {{ services_ldap.binddn }}
-
replace: olcRootPW
olcRootPW: {{ '%s' | format(services_ldap_password) |  slapd_hash }}
