[{{simplesaml_name}}]
user = {{simplesaml_user}}
group = {{simplesaml_group}}

listen = /run/php/{{simplesaml_name}}.sock
listen.owner = www-data
listen.group = www-data
listen.mode = 0660

pm = dynamic
pm.max_children = 5
pm.start_servers = 1
pm.min_spare_servers = 1
pm.max_spare_servers = 3
pm.max_requests = 500

pm.status_path = /status
ping.path = /ping

access.log = syslog
php_admin_value[error_log] = syslog

chdir = {{simplesaml_project_dir}}/simplesaml/www

catch_workers_output = yes
decorate_workers_output = no
