export SBS_HOST="sbs.{{base_domain}}"
export SBS_PROT="{{ slp_host_protocol }}"

export API_USER="sysread"
export API_PASS="{{ sbs_sysread_password }}"

export LDAP_HOST="ldap.{{base_domain}}"
export LDAP_PROT="{{ slp_ldap_protocol }}"
export LDAP_PASS="{{ clients_ldap_password }}"
export LDAP_USER="{{ clients_ldap.binddn }}"
export LDAP_BASE="{{ clients_ldap.basedn }}"

{{ slp_env_dir }}/bin/python {{ slp_git_dir }}/slp.py > /var/log/slp.log
