[Unit]
Description=SCZ SLP Ldap Synchronization

[Service]
User={{slp_job_user}}
Group={{slp_job_group}}
Type=simple
WorkingDirectory={{ slp_git_dir }}
ExecStart={{ slp_work_dir }}/provisioning.sh
RuntimeMaxSec=180

