<?php
$config=array(
  'scz' => array(
    'scope_suffix'  => '{{ comanage_scope }}',
    'uid' => '{{ comanage_proxy_attribute }}',
    'namespace' => 'surf.nl:scz:{{ environment_name }}',
    'authority' => '{{ environment_name }}.scz.surf.nl'
    'export_uid_attribute' => false,
    'attributes' => array(
      '{{ comanage_proxy_attribute }}' => array('attribute'=>'uid','use_org'=>True, 'type'=>'eppn'),
      'urn:mace:dir:attribute-def:cn' => array('attribute'=>'cn', 'multiple'=>'single'),
      'urn:mace:dir:attribute-def:givenName'=>array('attribute'=>'givenName', 'multiple'=>'single'),
      'urn:mace:dir:attribute-def:sn' => array('attribute'=>'sn', 'multiple'=>'single'),
      'urn:mace:dir:attribute-def:displayName'=>array('attribute'=>'displayName',type=>array('preferred','official'),'multiple'=>'single'),
      'urn:mace:dir:attribute-def:eduPersonScopedAffiliation' => array('attribute'=>'eduPersonScopedAffiliation'),
      'urn:mace:dir:attribute-def:eduPersonAffiliation' => array('attribute'=>'eduPersonAffiliation'),
      'urn:mace:dir:attribute-def:o' => array('attribute'=>'o'),
      'urn:mace:dir:attribute-def:ou' => array('attribute'=>'ou'),
      'urn:mace:dir:attribute-def:title' => array('attribute'=>'title'),
      'urn:mace:dir:attribute-def:eduPersonOrcid' => array('attribute'=>'eduPersonOrcid','type'=>'orcid'),
      'urn:mace:dir:attribute-def:eduPersonPrincipalName' => array('type'=>'eppn','attribute'=>'eduPersonPrincipalName'),
      'urn:mace:dir:attribute-def:uid' => array('attribute'=>'uid', 'type'=>'uid'),
      'urn:mace:dir:attribute-def:eduPersonUniqueId' => array('attribute'=>'eduPersonUniqueId', 'type'=>'uid'),

      'urn:mace:dir:attribute-def:facsimileTelephoneNumber' => array('attribute'=>'facsimileTelephoneNumber', 'type'=>'fax'),
      'urn:mace:dir:attribute-def:l' => array('attribute'=>'l', 'type'=>array('office','campus'),'multiple'=>'single'),
      'urn:mace:dir:attribute-def:mail' => array('attribute'=>'mail'),
      'urn:mace:dir:attribute-def:mobile' => array('attribute'=>'mobile','type'=>array('mobile')),
      'urn:mace:dir:attribute-def:postalCode' => array('attribute'=>'postalCode','type'=>array('office','campus'), 'multiple'=>'single'),
      'urn:mace:dir:attribute-def:st' => array('attribute'=>'st','type'=>array('office','campus'), 'multiple'=>'single'),
      'urn:mace:dir:attribute-def:street' => array('attribute'=>'street','type'=>array('office','campus'), 'multiple'=>'single'),
      'urn:mace:dir:attribute-def:telephoneNumber' => array('attribute'=>'telephoneNumber','type'=>array('office','home','campus')),

      'urn:mace:dir:attribute-def:isMemberOf' => array('attribute'=>'isMemberOf'),
      'urn:mace:dir:attribute-def:eduPersonEntitlement' => array('attribute'=>'eduPersonEntitlement'),
      'urn:oid:1.3.6.1.4.1.24552.1.1.1.13' => array('attribute'=>'sshPublicKey'),
    ),
  )
);
