<?php
$config=array(
  'scz' => array(
    'scope_suffix'  => '{{ comanage_scope }}',
    'uid' => '{{ comanage_proxy_attribute }}',
    'attributes' => array(
      '{{ comanage_proxy_attribute }}' => array('attribute'=>'uid','use_org'=>True, 'type'=>'eppn'),
      'cn' => array('multiple'=>'single'),
      'urn:oid:2.5.4.3' => array('attribute'=>'cn', 'multiple'=>'single'),
      'givenName'=>array('multiple'=>'single'),
      'urn:oid:2.5.4.42'=>array('attribute'=>'givenName', 'multiple'=>'single'),
      'sn'=>array('multiple'=>'single'),
      'urn:oid:2.5.4.4' => array('attribute'=>'sn', 'multiple'=>'single'),
      'displayName'=>array('type'=>array('preferred','official'),'multiple'=>'single'),
      'urn:oid:2.16.840.1.113730.3.1.241'=>array('type'=>array('attribute'=>'displayName','preferred','official'),'multiple'=>'single'),

      'eduPersonScopedAffiliation' => array(),
      'urn:oid:1.3.6.1.4.1.5923.1.1.1.9' => array('attribute'=>'eduPersonScopedAffiliation'),
      'eduPersonAffiliation' => array(),
      'urn:oid:1.3.6.1.4.1.5923.1.1.1.1' => array('attribute'=>'eduPersonAffiliation'),
      'o' => array(),
      'urn:oid:2.5.4.10' => array('attribute'=>'o'),
      'ou'=>array(),
      'urn:oid:2.5.4.11' => array('attribute'=>'ou'),
      'title'=>array(),
      'urn:oid:2.5.4.12' => array('attribute'=>'title'),
      'eduPersonOrcid' => array('type'=>'orcid'),
      'urn:oid:1.3.6.1.4.1.5923.1.1.1.16' => array('attribute'=>'eduPersonOrcid','type'=>'orcid'),
      'eduPersonPrincipalName' => array('type'=>'eppn'),
      'urn:oid:1.3.6.1.4.1.5923.1.1.1.6' => array('type'=>'eppn','attribute'=>'eduPersonPrincipalName'),
      'uid' => array('type'=>'uid'),
      'urn:oid:0.9.2342.19200300.100.1.1' => array('attribute'=>'uid', 'type'=>'uid'),
      'eduPersonUniqueId' => array('type'=>'uid'),
      'urn:oid:1.3.6.1.4.1.5923.1.1.1.13' => array('attribute'=>'eduPersonUniqueId', 'type'=>'uid'),

      'facsimileTelephoneNumber' => array('attribute'=>'facsimileTelephoneNumber', 'type'=>'fax'),
      'urn:oid:2.5.4.23' => array('attribute'=>'facsimileTelephoneNumber', 'type'=>'fax'),
      'l' => array('type'=>array('office','campus'), 'multiple'=>'single'),
      'urn:oid:2.5.4.7' => array('attribute'=>'l', 'type'=>array('office','campus'),'multiple'=>'single'),
      'mail' => array(),
      'urn:oid:0.9.2342.19200300.100.1.3' => array('attribute'=>'mail'),
      'mobile' => array('type'=>array('mobile')),
      'urn:oid:0.9.2342.19200300.100.1.41' => array('attribute'=>'mobile','type'=>array('mobile')),
      'postalCode'=>array('type'=>array('office','campus'), 'multiple'=>'single'),
      'urn:oid:2.5.4.17' => array('attribute'=>'postalCode','type'=>array('office','campus'), 'multiple'=>'single'),
      'st'=>array('type'=>array('office','campus'), 'multiple'=>'single'),
      'urn:oid:2.5.4.8' => array('attribute'=>'st','type'=>array('office','campus'), 'multiple'=>'single'),
      'street'=>array('type'=>array('office','campus'), 'multiple'=>'single'),
      'urn:oid:2.5.4.9' => array('attribute'=>'street','type'=>array('office','campus'), 'multiple'=>'single'),
      'telephoneNumber' => array('type'=>array('office','home','campus')),
      'urn:oid:2.5.4.20' => array('attribute'=>'telephoneNumber','type'=>array('office','home','campus')),

#      'description' => array(),
#      '' => array('attribute'=>''),
      'isMemberOf' => array(),
      'urn:oid:1.3.6.1.4.1.5923.1.5.1.1' => array('attribute'=>'isMemberOf'),
      'eduPersonEntitlement' => array(),
      'urn:oid:1.3.6.1.4.1.5923.1.1.1.7' => array('attribute'=>'eduPersonEntitlement'),
      'sshPublicKey' => array(),
    ),
  )
);
