server {
	listen      80 default_server;
	listen [::]:80 default_server;

	server_name _;

{% if letsencrypt is defined %}
	location /.well-known/acme-challenge {
		alias {{letsencrypt.acme_challenge_dir}}/.well-known/acme-challenge;
	}
{% endif %}

	location / {
		rewrite ^(.*) https://$http_host$1 permanent;
	}
}

