server {
    listen      80 default_server;
    listen [::]:80 default_server;

    server_name _;

    location / {
        return 403;
    }
}


{% for h in http_hosts %}
server {
    listen      80;
    listen [::]:80;

    server_name {{ h }};

{% if letsencrypt is defined %}
    location /.well-known/acme-challenge {
        alias {{letsencrypt.acme_challenge_dir}}/.well-known/acme-challenge;
    }
{% endif %}

    location / {
        rewrite ^(.*) https://{{ h }}$1 permanent;
    }
}
{% endfor %}
