---
- name: set up apt repo
  template:
    src: sources.list.j2
    dest: /etc/apt/sources.list
    force: yes
  register: apt_sources

- name: set default release
  template:
    src: 00-scz-release.j2
    dest: /etc/apt/apt.conf.d/00-scz-release
  register: apt_default_release

# we need to do this manually, because ansible's apt module doesn't handle the default-release
# setting correctly
- name: Update cache
  command:
    cmd: apt-get update
    warn: false
  when: apt_default_release.changed or apt_sources.changed

- name: regularly update package lists
  copy:
    src: 00-scz-update
    dest: /etc/apt/apt.conf.d/00-scz-update

- name: remove unneccessary packages
  apt:
    state: absent
    purge: yes
    autoremove: yes
    update_cache: yes
    name:
      - unattended-upgrades

- name: Install common tools / clients
  apt:
    update_cache: yes
    state: present
    name:
      - sudo
      - bash
      - zsh
      - vim
      - locales-all
      - curl
      - netcat
      - ca-certificates
      - gnupg2
      - net-tools
      - dnsutils
      - git
      - acl
      - bzip2
      - xz-utils
      - unzip
      - apt-transport-https
      - python-apt
      - needrestart
      - logrotate
      - rsyslog
      - aptitude
      - cloud-init
      - acl

- name: Upgrade packages
  apt:
    upgrade: dist
    cache_valid_time: 86400
    update_cache: yes
    autoclean: yes
  when: "environment_name != 'vm'"

- name: install VMware clients
  apt:
    state: present
    name:
      - open-vm-tools
      - open-vm-tools-dkms
  when: ansible_virtualization_type == "VMware"

# apt module doesn't support autoremove very well, yet
- name: Remove obsolete packages
  command: "/usr/bin/apt --yes --purge autoremove"
  register: result
  changed_when: "'0 upgraded, 0 newly installed, 0 to remove' not in result.stdout"

