Listen 80
Listen 443
<IfModule mod_reqtimeout.c>
  RequestReadTimeout header=20-40,MinRate=500 body=20-40,MinRate=500
</IfModule>
<IfModule mod_ssl.c>
        ServerAdmin webmaster@localhost
        Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"

        SSLEngine on
        SSLCipherSuite ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA384
        SSLProtocol TLSv1.2 TLSv1.3

        SSLCertificateFile      {{ ssl_certs_dir }}/ci-runner.sram.surf.nl.crt
        SSLCertificateChainFile {{ ssl_certs_dir }}/ci-runner.sram.surf.nl.chain.crt
        SSLCertificateKeyFile   {{ ssl_certs_dir }}/ci-runner.sram.surf.nl.key

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        <VirtualHost _default_:443>
                ServerName sbs.ci-runner.sram.surf.nl

                DocumentRoot /var/www/html
                SSLProxyVerify none
                SSLProxyCheckPeerCN off
                SSLProxyCheckPeerName off

                SSLProxyEngine on
                #UseCanonicalName on
                #ProxyPreserveHost on
                ProxyPass "/" "https://sbs.vm.scz-vm.net:90/"
                ProxyPassReverse "/" "https://sbs.vm.scz-vm.net:90/"

        </VirtualHost>

        <VirtualHost _default_:443>
                ServerName rp.ci-runner.sram.surf.nl

                DocumentRoot /var/www/html
                SSLProxyVerify none
                SSLProxyCheckPeerCN off
                SSLProxyCheckPeerName off

                SSLProxyEngine on
                #UseCanonicalName on
                #ProxyPreserveHost on
                ProxyPass "/" "https://test.vm.scz-vm.net:8443/"
                ProxyPassReverse "/" "https://test.vm.scz-vm.net:8443/"
        </VirtualHost>

        <VirtualHost _default_:443>
                ServerName idp.ci-runner.sram.surf.nl
                ServerAlias sp.ci-runner.sram.surf.nl

                DocumentRoot /var/www/html
                SSLProxyVerify none
                SSLProxyCheckPeerCN off
                SSLProxyCheckPeerName off

                SSLProxyEngine on
                #UseCanonicalName on
                #ProxyPreserveHost on
                ProxyPass "/" "https://test.vm.scz-vm.net:8444/"
                ProxyPassReverse "/" "https://test.vm.scz-vm.net:8444/"
        </VirtualHost>

        <VirtualHost _default_:443>
                ServerName ci-runner.sram.surf.nl
                ServerAlias *.ci-runner.sram.surf.nl

                DocumentRoot /var/www/html
        </VirtualHost>
</IfModule>
