# Add Client mdb
dn: olcDatabase=mdb,cn=config
objectClass: olcDatabaseConfig
objectClass: olcMdbConfig
olcDatabase: mdb
olcSuffix: {{ clients_ldap.basedn }}
olcDbDirectory: {{ clients_ldap_dbdir }}
olcRootDN: {{ clients_ldap.binddn }}
olcRootPW: {{ '%s' | format(clients_ldap_password) | slapd_hash }}
olcDbIndex: objectClass eq
olcDbIndex: cn,uid eq
olcDbIndex: uidNumber,gidNumber eq
olcDbIndex: member,memberUid eq
olcAccess: to *
   by dn.exact=gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth manage
   by * break
olcAccess: to attrs=userPassword
   by anonymous auth
   by dn.exact="{{ clients_ldap.binddn }}" write
   by * none
olcAccess: to dn.regex="(.+,)?(dc=[^,]+,{{ clients_ldap.basedn }})$"
   by dn.exact="{{ clients_ldap.binddn }}" write
   by dn.exact,expand="cn=admin,$2" read
   by * none
