<?php
$config = array();

$config['admin'] = array(
        // The default is to use core:AdminPassword, but it can be replaced with
        // any authentication source.

        'core:AdminPassword',
    );

$config['default-sp'] = [
        'saml:SP',
        'entityID' => 'http://default-sp.org',
        'idp' => null,
        'discoURL' => null,
    ];

$config['example-userpass'] = [
        'exampleauth:UserPass',

        // Give the user an option to save their username for future login attempts
        // And when enabled, what should the default be, to save the username or not
        //'remember.username.enabled' => false,
        //'remember.username.checked' => false,

        'student:{{testidp_student_passwd}}' => [
            'uid' => ['student'],
            'eduPersonPrincipalName' => 'student@test-idp.sram.surf.nl',
            'givenName' => 'Student',
            'sn' => 'One',
            'cn' => 'Student One',
            'displayName' => 'Student One',
            'mail' => 'student@test-idp.sram.surf.nl',
            'schacHomeOrganization' => 'test-idp.sram.surf.nl',
            'eduPersonAffiliation' => ['member', 'student'],
            'eduPersonScopedAffiliation' => ['member@test-idp.sram.surf.nl', 'student@test-idp.sram.surf.nl'],
            'eduPersonEntitlement' => ['urn:disk:100'],
        ],
        'employee:{{testidp_employee_passwd}}' => [
            'uid' => ['employee'],
            'eduPersonPrincipalName' => 'employee@test-idp.sram.surf.nl',
            'givenName' => 'Employee',
            'sn' => 'One',
            'cn' => 'Employee One',
            'displayName' => 'Employee One',
            'mail' => 'employee@test-idp.sram.surf.nl',
            'schacHomeOrganization' => 'test-idp.sram.surf.nl',
            'eduPersonAffiliation' => ['member', 'employee'],
            'eduPersonScopedAffiliation' => ['member@test-idp.sram.surf.nl', 'employee@test-idp.sram.surf.nl'],
            'eduPersonEntitlement' => ['urn:disk:200'],
        ],
{% for user in testidp_extra_users %}
        '{{user.name}}:{{user.passwd}}' => [
            {% for attr, val in user.attributes.items() %}
                '{{attr}}' => {%if val is string%}'{{val}}'{%else%}{{val}}{%endif%},
            {% endfor %}
        ]
{% endfor %}
    ];
