module: satosa.micro_services.attribute_filter.AttributeFilter
name: AttributeFilterPost
config:
    attribute_allow:
        default:
            default:
                "":
                    - ""
    attribute_deny:
        default:
            'https://{{hostnames.comanage}}/registry/auth/sp/metadata':
                "^$":
                    - ""
            default:
                "^{{ comanage_proxy_attribute }}$":
                    - ""
