module: satosa.micro_services.attribute_filter.AttributeFilter
name: AttributeFilterPre
config:
    attribute_allow:
        default:
            'https://{{hostnames.comanage}}/registry/auth/sp/metadata':
                "":
                   - ""
            default:
                "cmuid":
                   - ""
#    attribute_deny:
#        default:
#            default:
#                "":
#                    - ""
