module: satosa.micro_services.attribute_filter.AttributeFilter
name: AttributeFilter
config:
    attribute_allow:
        default:
            default:
                "":
                   - ""
#    attribute_deny:
#        default:
#            default:
#                "":
#                    - ""
