---
module: scz-micro_services.attribute_check.AttributeCheck
name: AttributeCheck
config:
  db_host: {{ comanage_proxy_db }}
  db_schema: {{ comanage_proxy_db_name }}
  db_user: {{ comanage_proxy_db_user }}
  db_password: {{ comanage_proxy_db_password }}
  changed: "/static/changed"
