module: satosa.micro_services.attribute_filter.AttributeFilter
name: AttributeFilterPre
config:
    attribute_allow:
        default:
            'http://{{hostnames.comanage}}/registry/auth/sp/metadata':
                "":
                   - ""
#    attribute_deny:
#        default:
#            default:
#                "":
#                    - ""
