{
    "postman":
    {
      "application_type" : "web",
      "client_name" : "Postman TestClient",
      "subject_type" : "public",
      "client_secret" : "ringstwice",
      "response_types" : [ "code" ],
      "redirect_uris" : [ "https://www.getpostman.com/oauth2/callback" ],
      "client_id" : "postman",
      "client_secret_expires_at" : 0,
      "client_id_issued_at" : 0
    },
    "oidctest":
    {
      "application_type" : "web",
      "client_name" : "SCZ TestClient",
      "subject_type" : "public",
      "client_secret" : "test",
      "response_types" : [ "code" ],
      "redirect_uris" : [ "{{http_proto}}://{{hostnames['oidc']}}/oidc/redirect_uri" ],
      "client_id" : "oidctest",
      "client_secret_expires_at" : 0,
      "client_id_issued_at" : 0
    },
    "{{ sbs_client_id }}":
    {
      "application_type" : "web",
      "client_name" : "SBS erver",
      "subject_type" : "public",
      "client_secret" : "{{ sbs_client_secret }}",
      "response_types" : [ "code" ],
      "redirect_uris" : [ "{{ sbs_base_url }}redirect_uri" ],
      "client_id" : "{{ sbs_client_id }}",
      "client_secret_expires_at" : 0,
      "client_id_issued_at" : 0
    }
}
