module: satosa.micro_services.consent.Consent
name: Consent
config:
  api_url: "http://localhost:{{ cmservice_port }}/"
  redirect_url: "{{http_proto}}://{{ hostnames.consent }}/consent"
  sign_key: "keys/satosa.pem"
  lock_all_attributes: True
  blacklist:
    - "{{comange_entityid}}"
