module: scz-micro_services.custom_uid.CustomUID
name: CustomUID
config:
    # internal attributes used to create custom uid
    # special case __name_id__ is persistent
    # SAML nameid
    select:
        - __name_id__
        - eduPersonTargetedID
        #- eduPersonPrincipalName
    # internal custom uid transport attribute
    custom_attribute: cmuid

    # Set user_id to custom uid
    user_id: true
