module: satosa.micro_services.custom_logging.CustomLoggingService
name: CustomLoggingService
config:
  log_target: "{{ satosa_log_dir }}/custom.log"
  attrs: ['uid', 'eduPersonPrincipalName','eduPersonTargetedID']

