module: scz_micro_services.db_attribute_store.DBAttributeStore
name: DBAttributeStore
config:
  db_host: 'localhost'
  db_user: '{{ comanage_proxy_db_user }}'
  db_schema: '{{ comanage_proxy_db_name }}'
  db_password: '{{ comanage_proxy_db_password }}'
  idp_identifiers:
    - not_used

  # Whether to clear values for attributes incoming
  # to this microservice. Default is no or false.
  clear_input_attributes: yes

  # Use internal user_id as idp_identifier
  user_id: true
  blacklist:
    - '{{ comange_entityid }}'
    - '{{ sbs_client_id }}'
