---
- paths:
    - {{ satosa_log_dir }}/custom.log
  fields:
    source: satosa
    environment: {{ environment_name }}
  fields_under_root: true

- paths:
    - /var/log/satosa.log
  fields:
    source: syslog
    environment: {{ environment_name }}
  fields_under_root: true
