server {
	listen {{satosa_host}}:{{satosa_port}} default_server ssl;

    ssl_certificate     {{ ssl_certs_dir }}/{{ internal_base_domain }}.crt;
    ssl_certificate_key {{ ssl_certs_dir }}/{{ internal_base_domain }}.key;
    ssl_protocols       TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;

	server_name _;

	location / {
		proxy_pass         http://127.0.0.1:{{satosa_internal_port}};
		proxy_redirect     off;
		proxy_pass_request_headers on;
		proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
	}
}

