module: scz-micro_services.r_and_s_acl.RandSAcl
name: RandSAcl
config:
  attribute_mapping:
    edupersonprincipalname: eduPersonPrincipalName
    edupersontargetedid: eduPersonTargetedID
    displayname: displayName
    givenname: givenName
    sn: sn
    mail: mail
  access_denied: '/static/r_and_s_failed'
