---
module: satosa.backends.saml2.SAMLBackend
name: SamlSP
config:
  sp_config:
    key_file: certs/backend.key
    cert_file: certs/backend.crt
    encryption_keypairs:
      - key_file : certs/frontend.key
        cert_file : certs/frontend.crt
    organization:
      display_name: "{{ satosa_md.organisation.display_name }}"
      name: "{{ satosa_md.organisation.name }}"
      url: "{{ satosa_md.organisation.url }}"
    contact_person:
{% for type, attrs in satosa_md.contacts.items() %}
      - contact_type: {{ type }}
{% for attr, value in attrs.items() %}
        {{ attr }}: {{ value }}
{% endfor %}
{% endfor %}
    metadata:
      local: ['metadata/idp-test.xml']
      mdq: ['http://localhost:{{ pyff_port }}']
    entityid: <base_url>/<name>/proxy.xml
    service:
      sp:
        name: Proxy SP
        ui_info:
          display_name:
{% for lang, text in satosa_mdui.sp.display_name.items() %}
            - lang: {{ lang }}
              text: "{{ text }}"
{% endfor %}
          description:
{% for lang, text in satosa_mdui.sp.description.items() %}
            - lang: {{ lang }}
              text: "{{ text }}"
{% endfor %}
          information_url:
{% for lang, text in satosa_mdui.sp.information_url.items() %}
            - lang: {{ lang }}
              text: "{{ text }}"
{% endfor %}
          privacy_statement_url:
{% for lang, text in satosa_mdui.sp.privacy_statement_url.items() %}
            - lang: {{ lang }}
              text: "{{ text }}"
{% endfor %}
          keywords:
{% for lang, text in satosa_mdui.sp.keywords.items() %}
            - lang: {{ lang }}
              text: {{ text | to_json }}
{% endfor %}
          logo:
{% for attr, value in satosa_mdui.idp.logo.items() %}
            {{ attr }}: "{{ value }}"
{% endfor %}
        allow_unsolicited: true
        endpoints:
          assertion_consumer_service:
            - [<base_url>/<name>/acs/post, 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST']
            - [<base_url>/<name>/acs/redirect, 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect']
          discovery_response:
            - [<base_url>/<name>/disco, 'urn:oasis:names:tc:SAML:profiles:SSO:idp-discovery-protocol']
        name_id_format: 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent'
        want_response_signed: false
    attribute_map_dir: '{{ satosa_env_dir }}/mapper'
    allow_unknown_attributes: true
  # disco_srv must be defined if there is more than one IdP in the metadata specified above
  disco_srv: {{http_proto}}://{{ hostnames.mdq }}/role/idp.ds
