---
module: satosa.frontends.saml2.SAMLFrontend
name: SamlIdP
config:
  idp_config:
    key_file: certs/frontend.key
    cert_file: certs/frontend.crt
    organization:
      display_name: "{{ satosa_md.organisation.display_name }}"
      name: "{{ satosa_md.organisation.name }}"
      url: "{{ satosa_md.organisation.url }}"
    contact_person:
{% for type, attrs in satosa_md.contacts.items() %}
      - contact_type: {{ type }}
{% for attr, value in attrs.items() %}
        {{ attr }}: {{ value }}
{% endfor %}
{% endfor %}
    metadata:
      mdq: ['http://localhost:{{ pyff_port }}']
    entityid: <base_url>/md/<name>.xml
    ignore_requested_attributes: true
    service:
      idp:
        name: Proxy IdP
        ui_info:
          display_name:
{% for lang, text in satosa_mdui.idp.display_name.items() %}
            - lang: {{ lang }}
              text: "{{ text }}"
{% endfor %}
          description:
{% for lang, text in satosa_mdui.idp.description.items() %}
            - lang: {{ lang }}
              text: "{{ text }}"
{% endfor %}
          information_url:
{% for lang, text in satosa_mdui.idp.information_url.items() %}
            - lang: {{ lang }}
              text: "{{ text }}"
{% endfor %}
          privacy_statement_url:
{% for lang, text in satosa_mdui.idp.privacy_statement_url.items() %}
            - lang: {{ lang }}
              text: "{{ text }}"
{% endfor %}
          keywords:
{% for lang, text in satosa_mdui.idp.keywords.items() %}
            - lang: {{ lang }}
              text: {{ text | to_json }}
{% endfor %}
          logo:
{% for attr, value in satosa_mdui.idp.logo.items() %}
            {{ attr }}: "{{ value }}"
{% endfor %}
        endpoints:
          single_sign_on_service: []
        name_id_format: ['urn:oasis:names:tc:SAML:2.0:nameid-format:persistent', 'urn:oasis:names:tc:SAML:2.0:nameid-format:transient']
        policy:
          default:
            sign_assertion: true
            sign_response: true
            attribute_restrictions: null
            fail_on_missing_requested: false
            lifetime: {minutes: 15}
            #name_form: urn:oasis:names:tc:SAML:2.0:attrname-format:basic
    attribute_map_dir: '{{ satosa_env_dir }}/mapper'
    allow_unknown_attributes: true
  acr_mapping:
    "": default-LoA
    "https://accounts.google.com": LoA1
  endpoints:
    single_sign_on_service: {'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST': sso/post,
      'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect': sso/redirect}
