[Unit]
Description=SATOSA
After=syslog.target network.target

[Service]
Type=simple
User=satosa
WorkingDirectory={{ satosa_env_dir }}
ExecStart={{ satosa_env_dir }}/bin/python \
    {% if http_proto!="https" %}-O{% endif %} {{ satosa_env_dir }}/bin/gunicorn \
    --certfile={{ ssl_certs_dir }}/{{ internal_base_domain }}.crt \
    --keyfile={{ ssl_certs_dir }}/{{ internal_base_domain }}.key \
    -b127.0.0.1:{{ satosa_internal_port }} \
    satosa.wsgi:app
Restart=on-abort
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=satosa

[Install]
WantedBy=multi-user.target
