#!/bin/bash
# vim:ft=sh
set -e

if [ $UID -ne 0 ]
then
	echo "Sorry, this script must run as root"
	exit 1
fi

BACKUP_BASEDIR="{{satosa_backup_dir}}"
mkdir -p -m 0755 "$BACKUP_BASEDIR"
cd "$BACKUP_BASEDIR"

BACKUP_NAME="satosa_mongodb_$(/bin/date +%Y-%m-%d_%H:%M)"
BACKUP_DIR="$BACKUP_BASEDIR/$BACKUP_NAME"
if [ -e ${BACKUP_DIR} ]
then
	echo "Woopsie! Dir '${BACKUP_DIR}' already exists, exiting."
	exit 1
fi

# make sure backup dir is cleaned when we exit (with error or otherwise)
function finish {
	rm -rf "${BACKUP_DIR}"
}
trap finish EXIT

/usr/bin/mongodump --quiet --out="${BACKUP_DIR}"
/bin/tar -c ${BACKUP_NAME} | /bin/bzip2 -c6 > ${BACKUP_DIR}.tar.bz2


exit 0
