[Unit]
Description=SATOSA
After=syslog.target network.target

[Service]
Type=simple
User=satosa
WorkingDirectory={{ satosa_env_dir }}
ExecStart={{ satosa_env_dir }}/bin/gunicorn -b{{ satosa_host }}:{{ satosa_port }} satosa.wsgi:app
Restart=on-abort
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=satosa

[Install]
WantedBy=multi-user.target
