module: scz_micro_services.sbs_attribute_store.SBSAttributeStore
name: SBSAttributeStore
config:
  sbs_api_user: '{{ satosa_sbs_api_user }}'
  sbs_api_password: '{{ sbs_api_users.get(satosa_sbs_api_user).password }}'
  sbs_api_base_url: '{{ sbs_api_url }}'
  sbs_blacklist:
    - '{{ sbs_client_id }}'
    - '{{ comange_entityid }}'
