---
- name: Ensure that packages are installed
  apt:
    name:
      - python3-pip
      - libxml2-dev
      - libxmlsec1-dev
      - libz-dev
      - python-dev
      - pkg-config
    state: present

- name: fetch PAM WebSSO from {{ pam_websso.repo_url }}, version {{ pam_websso.repo_version }}
  git:
    repo: "{{ pam_websso.repo_url }}"
    dest: "{{ pam_websso.project_dir }}"
    version: "{{ pam_websso.repo_version }}"
    accept_hostkey: "yes"
    force: "yes"
  register: pam_websso_git

- name: install WebSSO daemon
  pip:
    name: "{{ pam_websso.project_dir }}"
    state: latest
    executable: pip3
  when: pam_websso_git.changed
  notify: restart WebSSO daemon

- name: install WebSSO daemon settings
  template:
    src: "websso_daemon.json.j2"
    dest: "{{ pam_websso.project_dir }}/websso_daemon.json"
  notify: restart WebSSO daemon

- name: Create WebSSO daemon systemd service file
  template:
    src: websso-daemon.service.j2
    dest: "/etc/systemd/system/websso-daemon.service"
    mode: 0644

- name: install NGINX config file
  template:
    src: nginx-pam.conf.j2
    dest: /etc/nginx/sites-enabled/00-pam.conf
  notify: restart nginx
