
server {
    listen 443 ssl;
    server_name tools.sram.surf.nl;

    ssl_certificate        {{ ssl_certs_dir }}/tools_https.crt;
    ssl_certificate_key    {{ ssl_certs_dir }}/tools_https.key;
    ssl_protocols          TLSv1.3;
    ssl_ciphers            EECDH+AESGCM:EDH+AESGCM;

    location ^~ /saml {
        alias {{simplesaml_project_dir}}/simplesamlphp/www;

        location ~^(?<prefix>/saml)(?<phpfile>.+?\.php)(?<pathinfo>/.*)?$ {
            include          fastcgi_params;
            fastcgi_pass     unix:/run/php/{{demosp_name}}.sock;
            fastcgi_param SCRIPT_FILENAME $document_root$phpfile;

            # Must be prepended with the baseurlpath
            fastcgi_param SCRIPT_NAME /saml$phpfile;

            fastcgi_param PATH_INFO $pathinfo if_not_empty;
        }
    }
}
