<?php
# TEST credentials
$client['test']['id']     = '{{ demo_rp_oidc.test.client_id     }}';
$client['test']['secret'] = '{{ demo_rp_oidc.test.client_secret }}';
$client['test']['op']     = '{{ demo_rp_oidc.test.op            }}';

# TEST2 credentials
$client['test2']['id']     = '{{ demo_rp_oidc.test2.client_id     }}';
$client['test2']['secret'] = '{{ demo_rp_oidc.test2.client_secret }}';
$client['test2']['op']     = '{{ demo_rp_oidc.test2.op            }}';

# ACC credentials
$client['acc']['id']      = '{{ demo_rp_oidc.acc.client_id     }}';
$client['acc']['secret']  = '{{ demo_rp_oidc.acc.client_secret }}';
$client['acc']['op']      = '{{ demo_rp_oidc.acc.op            }}';

# PRD Acc credentials
$client['prd']['id']      = '{{ demo_rp_oidc.prd.client_id     }}';
$client['prd']['secret']  = '{{ demo_rp_oidc.prd.client_secret }}';
$client['prd']['op']      = '{{ demo_rp_oidc.prd.op            }}';
