<?php
# set config to empty array by default
$config = array();

$metadata['https://proxy.acc.sram.eduteams.org/proxy'] = array(
     'name' => [
        'en' => 'SRAM acc',
        'nl' => 'SRAM acc',
    ],
    'SingleSignOnService' => [
        [
            'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
            'Location' => 'https://proxy.acc.sram.eduteams.org/saml2sp/sso/redirect',
        ],
    ],
    'certificate' => 'eduteams-acc.pem',

    'authproc' => [
      50 => [
        'class' => 'core:AttributeMap', 'oid2name', 'urn2name',
      ],
    ],
);
$metadata['https://proxy.sram.surf.nl/proxy'] = array(
     'name' => [
        'en' => 'SRAM prod',
        'nl' => 'SRAM prod',
    ],
    'SingleSignOnService' => [
        [
            'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
            'Location' => 'https://proxy.sram.surf.nl/saml2sp/sso/redirect',
        ],
    ],
    'certificate' => 'eduteams-prd.pem',

    'authproc' => [
      50 => [
        'class' => 'core:AttributeMap', 'oid2name', 'urn2name',
      ],
    ],
);
