<?php
# set config to empty array by default
$config = array();

$metadata['https://proxy.acc.sram.eduteams.org/proxy'] = array(
    'entityid' => 'https://proxy.acc.sram.eduteams.org/proxy',
     'name' => [
        'en' => 'SRAM acc',
        'nl' => 'SRAM acc',
    ],
    'metadata-set' => 'saml20-idp-remote',
    'SingleSignOnService' => [
        [
            'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
            'Location' => 'https://proxy.acc.sram.eduteams.org/saml2sp/sso/redirect',
        ],
    ],
    'certificate' => 'eduteams-acc.pem',

    'authproc' => [
      50 => [
        'class' => 'core:AttributeMap', 'oid2name', 'urn2name',
      ],
    ],
);
$metadata['https://proxy.sram.surf.nl/proxy'] = array(
    'entityid' => 'https://proxy.sram.surf.nl/proxy',
     'name' => [
        'en' => 'SRAM prod',
        'nl' => 'SRAM prod',
    ],
    'metadata-set' => 'saml20-idp-remote',
    'SingleSignOnService' => [
        [
            'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
            'Location' => 'https://proxy.sram.surf.nl/saml2sp/sso/redirect',
        ],
    ],
    'certificate' => 'eduteams-prd.pem',

    'authproc' => [
      50 => [
        'class' => 'core:AttributeMap', 'oid2name', 'urn2name',
      ],
    ],
);

$metadata['https://engine.test2.surfconext.nl/authentication/idp/metadata'] = [
    'entityid' => 'https://engine.test2.surfconext.nl/authentication/idp/metadata',
    'name' => [
        'nl' => 'SURFconext TEST2 EngineBlock',
        'en' => 'SURFconext TEST2 EngineBlock',
    ],
    'metadata-set' => 'saml20-idp-remote',
    'SingleSignOnService' => [
        [
            'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
            'Location' => 'https://engine.test2.surfconext.nl/authentication/idp/single-sign-on',
        ],
    ],
    'SingleLogoutService' => [],
    'certificate' => 'sram-test2.pem',
];
