<?php
# set config to empty array by default
$config = array();

$metadata['https://proxy.acc.sram.eduteams.org/proxy'] = array(
     'name' => [
        'en' => 'SRAM acc',
        'nl' => 'SRAM acc',
    ],
    'SingleSignOnService' => 'https://proxy.acc.sram.eduteams.org/saml2sp/sso/redirect',
    'certificate' => 'sram-acc.pem',

    // convert OID formatted attributes from SAML assertion to 'name' similar to LDAP
    // so they will be available as 'mail' and 'displayName'
    'authproc' => [
      50 => [
        'class' => 'core:AttributeMap', 'oid2name',
      ],
    ],
);
$metadata['https://proxy.sram.surf.nl/proxy'] = array(
     'name' => [
        'en' => 'SRAM prod',
        'nl' => 'SRAM prod',
    ],
    'SingleSignOnService' => 'https://proxy.sram.surf.nl/saml2sp/sso/redirect',
    'certificate' => 'sram-prd.pem',

    // convert OID formatted attributes from SAML assertion to 'name' similar to LDAP
    // so they will be available as 'mail' and 'displayName'
    'authproc' => [
      50 => [
        'class' => 'core:AttributeMap', 'oid2name',
      ],
    ],
);
