#!/bin/bash

set -o errexit
set -o pipefail

SERVICE="{{ldap_monitor_service}}"
PASSWD="{{ldap_monitor_password}}"
REFERENCE="{{ldap_monitor_reference}}"

TMPFILE=$(mktemp "{{ldap_monitor_file}}_XXXXXX")
LDIFTMP=$(mktemp)

function finish {
  rm -rf "$TMPFILE"
  rm -rf "$LDIFTMP"
}
trap finish EXIT

#date
date --utc +"%s" >> $TMPFILE

# checksum
ldapsearch -Y EXTERNAL -Q -H ldapi://%2frun%2fslapd%2fldapi -LLL -o ldif-wrap=no -b "{{services_ldap.basedn}}" \
    -s sub '(objectclass=*)' '*' '+' | {{ ldap_monitor_dir }}/ldifchecksum.py \
    >> $TMPFILE

# contextCSN
ldapsearch -Y EXTERNAL -Q -H ldapi://%2frun%2fslapd%2fldapi -LLL -o ldif-wrap=no -b "{{services_ldap.basedn}}" \
    -s base 'contextCSN' | grep '^contextCSN: .*#000#' \
    >> $TMPFILE

# LDIF
ldapsearch -H ldapi://%2frun%2fslapd%2fldapi -LLL -o ldif-wrap=no -b "dc=${SERVICE},{{services_ldap.basedn}}" \
    -D "cn=admin,dc=${SERVICE},{{services_ldap.basedn}}" -w ${PASSWD} -s sub '(objectclass=*)' '*' \
    | {{ ldap_monitor_dir }}/ldifparser.py \
    > $LDIFTMP
echo $(diff -y -b --suppress-common-lines $REFERENCE $LDIFTMP | wc -l) >> $TMPFILE

# move final into place
mv "$TMPFILE" "{{ldap_monitor_file}}"
chmod 644 "{{ldap_monitor_file}}"

exit 0
