[Unit]
Description=Vacuum Remote SRAM journals

[Service]
User=systemd-journal-remote
Group=systemd-journal-remote
Type=oneshot
{% for name, data in journal_remote_types.items() %}
ExecStart=/usr/bin/journalctl --vacuum-time={{ data["keep_time"] }} -D /var/log/journal/{{ name }}
{% endfor %}
