[Unit]
Description=Vacuum Remote SRAM journals

[Service]
User=systemd-journal-remote
Group=systemd-journal-remote
Type=oneshot
{% for name, _ in journal_upload_ports.items() %}
ExecStart=/usr/bin/journalctl --vacuum-time={{ journal_keep_time }} -D /var/log/journal/{{ name }}
{% endfor %}
