[Unit]
Description=Vacuum Remote SRAM journals

[Service]
User=systemd-journal-remote
Group=systemd-journal-remote
Type=oneshot
{% for log in journal_remote_types %}
ExecStart=/usr/bin/journalctl --vacuum-time={{ log.keep_time }} -D /var/log/journal/{{ log.name }}
{% endfor %}
