[Unit]
Description=OIDC-OP
After=syslog.target network.target

[Service]
Type=simple
User=oidc-op
Group=oidc-op
WorkingDirectory={{ oidc_dir }}/example/flask_op
ExecStart={{ oidc_dir_venv }}/bin/python {{ oidc_dir }}/example/flask_op/server.py config_op.json
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=oidc-op

[Install]
WantedBy=multi-user.target
