{
  "admin": {
    "sub": "admin0001",
    "uid": "{{ sbs_admin_users[0]['uid'] }}",
    "name": "SCZ Admin",
    "given_name": "Admin",
    "family_name": "SCZ",
    "nickname": "admin",
    "email": "admin@scz-vm.net",
    "eduperson_scoped_affiliation": "member@scz-vm.net",
    "voperson_external_affiliation": "member@scz-vm.net",
    "ssh_public_key": "12345-ssh-rsa",
    "eduperson_orcid": "65432",
    "voperson_external_id": "admin@scz-vm.net",
    "eduperson_entitlement": "member",
    "eduperon_assurance": "admin",
    "eduperson_principal_name": "admin@scz-vm.net",
    "voperson_id": "admin"
  },
  "user1": {
    "sub": "user0001",
    "uid": "user1",
    "name": "SCZ User One",
    "given_name": "User",
    "family_name": "One",
    "nickname": "Userone",
    "email": "user1@scz-vm.net",
    "eduperson_scoped_affiliation": "member@scz-vm.net",
    "voperson_external_affiliation": "member@ssid.example.edu",
    "ssh_public_key": "12345-ssh-rsa",
    "eduperson_orcid": "65433",
    "voperson_external_id": "user1@ssid.example.edu",
    "eduperson_entitlement": "member",
    "eduperon_assurance": "user1",
    "eduperson_principal_name": "user1@scz-vm.net",
    "voperson_id": "user1"
  },
  "user2": {
    "sub": "user0002",
    "uid": "user2",
    "name": "SCZ User Two",
    "given_name": "User",
    "family_name": "Two",
    "nickname": "Usertwo",
    "email": "user2@scz-vm.net",
    "eduperson_scoped_affiliation": "member@scz-vm.net",
    "voperson_external_affiliation": "member@mfa.example.edu",
    "ssh_public_key": "12345-ssh-rsa",
    "eduperson_orcid": "65434",
    "voperson_external_id": "user2@mfa.example.edu",
    "eduperson_entitlement": "member",
    "eduperon_assurance": "user2",
    "eduperson_principal_name": "user2@scz-vm.net",
    "voperson_id": "user2"
  },
  "user3": {
    "sub": "user0003",
    "uid": "user3",
    "name": "SCZ User Three",
    "given_name": "User",
    "family_name": "Three",
    "nickname": "Userhtree",
    "email": "user3@scz-vm.net",
    "eduperson_scoped_affiliation": "member@scz-vm.net",
    "voperson_external_affiliation": "member@idp.example.edu",
    "ssh_public_key": "12345-ssh-rsa",
    "eduperson_orcid": "65435",
    "voperson_external_id": "user3@idp.example.edu",
    "eduperson_entitlement": "member",
    "eduperon_assurance": "user3",
    "eduperson_principal_name": "user3@scz-vm.net",
    "voperson_id": "user3"
  }
}
