{
  "admin": {
    "sub": "admin0001",
    "uid": "{{ sbs_admin_users[0]['uid'] }}",
    "name": "SCZ Admin",
    "given_name": "Admin",
    "family_name": "SCZ",
    "nickname": "admin",
    "email": "admin@scz-vm.net",
    "eduperson_scoped_affiliation": "member@scz-vm.net",
    "voperson_external_affiliation": "member",
    "ssh_public_key": "12345-ssh-rsa",
    "eduperson_orcid": "65432",
    "voperson_external_id": "admin",
    "eduperson_entitlement": "member",
    "eduperon_assurance": "admin",
    "eduperson_principal_name": "admin@scz-vm.net",
    "voperson_id": "admin"
  },
  "danny": {
    "sub": "datr0001",
    "uid": "tropdan",
    "name": "Tropical Danny",
    "given_name": "Danny",
    "family_name": "Tropical",
    "nickname": "Tropico",
    "email": "danny@tropical.org",
    "eduperson_scoped_affiliation": "member@tropical.org",
    "voperson_external_affiliation": "member",
    "ssh_public_key": "12345-ssh-rsa",
    "eduperson_orcid": "54321",
    "voperson_external_id": "tropdan",
    "eduperson_entitlement": "member",
    "eduperon_assurance": "member",
    "eduperson_principal_name": "danny@tropical.org",
    "voperson_id": "tropdan"
  }
}
