---
# - name: "enable pyff-metadata job"
#   systemd:
#     name: "pyff-metadata.timer"
#     enabled: true
#     state: "started"
#     daemon_reload: true

# - name: "run pyff-metadata job"
#   systemd:
#     name: "pyff-metadata.service"
#     state: "started"
#     daemon_reload: true

- name: Restart the pyFF container
  community.docker.docker_container:
    name: "{{ containers.pyff }}"
    restart: true
    state: started

# - name: "Create the pyFF container"
#   community.docker.docker_container:
#     name: "{{ containers.pyff }}"
#     image: "{{ images.pyff }}"
#     restart_policy: "always"
#     state: "started"
#     restart: true
#     pull: true
#     init: true
#     env:
#       USER: "{{ metadata_user_uid | string }}"
#       GROUP: "{{ metadata_group_gid | string }}"
#     mounts:
#       - source: "{{ metadata_basedir }}/web"
#         target: "/opt/pyff/web"
#         type: "bind"
#       - source: "{{ metadata_basedir }}/feeds"
#         target: "/opt/pyff/feeds"
#         type: "bind"
#         read_only: true
#       - source: "{{ metadata_basedir }}/src"
#         target: "/opt/pyff/src"
#         type: "bind"
#         read_only: true
#       - source: "{{ metadata_basedir }}/certs"
#         target: "/opt/pyff/certs"
#         type: "bind"
#         read_only: true
#       - source: "{{ metadata_basedir }}/xslt"
#         target: "/opt/pyff/xslt"
#         type: "bind"
#         read_only: true
#     healthcheck:
#       test:
#         - "CMD"
#         - "bash"
#         - "-c"
#         - "[[ $(($(date +%s)-$(date -r /opt/pyff/web/idps.xml +%s))) -lt 400 ]]"
#       interval: "10s"
#       timeout: "5s"
#       retries: 3
#       start_period: "5s"
