- when normalize:
    - xslt:
       stylesheet: tidy.xsl
    - break
- when edugain:
    - xslt:
       stylesheet: tidy.xsl
    - break
- when update:
    - load:
       - https://meta.test.scz.lab.surf.nl/sc_edugain_rs_coco_nosc.xml
       - metadata/
    - break
- when request:
    - select
    - pipe:
        - when accept application/xml:
             - xslt:
                 stylesheet: tidy.xsl
             - first
             - finalize:
                cacheDuration: PT5H
                validUntil: P10D
             - sign:
                 key: certs/signing.key
                 cert: certs/signing.crt
             - emit application/xml
             - break
        - when accept application/json:
             - discojson
             - emit application/json
             - break
