- when normalize:
    - xslt:
       stylesheet: tidy.xsl
    - break
- when edugain:
    - xslt:
       stylesheet: tidy.xsl
    - break
# TODO: make matadata feeds configurable from environments
- when update:
    - load:
       - {{http_proto}}://{{ hostnames.meta }}/sc_edugain_idps_nologo_nohide_nosc.xml
       - {{http_proto}}://{{ hostnames.proxy }}/md/SamlSP.xml
       - {{http_proto}}://{{ hostnames.sp }}/saml/module.php/saml/sp/metadata.php/default-sp
       - {{http_proto}}://{{ hostnames.idp }}/saml/saml2/idp/metadata.php
       - {{http_proto}}://{{ hostnames.comanage }}/registry/auth/sp/metadata
       - {{http_proto}}://{{ hostnames.pam }}/md
{% if hostnames.google is defined %}
       - {{http_proto}}://{{ hostnames.google }}/saml/saml2/idp/metadata.php
{% endif %}
{% if hostnames.orcid is defined %}
       - {{http_proto}}://{{ hostnames.orcid }}/saml/saml2/idp/metadata.php
{% endif %}
{% if hostnames.ms is defined %}
       - {{http_proto}}://{{ hostnames.ms }}/saml/saml2/idp/metadata.php
{% endif %}
{% if pyff_metadata_extra is defined %}
{% for m in pyff_metadata_extra %}
       - {{m}}
{% endfor %}
{% endif %}
       - {{ pyff_metadata_dir }}
    - break
- when request:
    - select
    - pipe:
        - when accept application/xml:
             - xslt:
                 stylesheet: tidy.xsl
             - first
             - finalize:
                cacheDuration: PT5H
                validUntil: P10D
             - sign:
                 key: certs/signing.key
                 cert: certs/signing.crt
             - emit application/xml
             - break
        - when accept application/json:
             - discojson
             - emit application/json
             - break
