server {
	listen {{pyff_host}}:{{pyff_port}} default_server;

	server_name _;

	location /static {
		root {{pyff_static_dir}};
		gzip on;
		gzip_min_length 256;
		gzip_vary on;
		gzip_comp_level 9;
		gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript application/vnd.ms-fontobject application/x-font-ttf font/opentype image/svg+xml image/x-icon;
	}
	location /favicon.ico {
		alias {{pyff_favicon}};
	}

	# temporary fix for a redirection attack as reported by Bharat Thakur <mrnoob790@gmail.com>
	# proper fix is to be implemented in pyFF; has been confirmed by Leif on the FOG list
	location /role/idp.ds {
		if ($arg_return !~* '^https(%3a|:)(%2f|/){2}{{hostnames.proxy}}(%2f|/)' ) { return 400; }
		proxy_pass         http://127.0.0.1:{{pyff_cherrypy_port}};
		proxy_redirect     off;
		proxy_pass_request_headers on;
		proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
	}

	location / {
		proxy_pass         http://127.0.0.1:{{pyff_cherrypy_port}};
		proxy_redirect     off;
		proxy_pass_request_headers on;
		proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
	}
}

