[Unit]
Description=pyFF
After=syslog.target network.target

[Service]
Type=simple
User=pyff
WorkingDirectory={{ pyff_env_dir }}
ExecStart={{ pyff_env_dir }}/bin/pyffd --proxy -f --loglevel=DEBUG -H {{ pyff_host }} -P {{ pyff_port }} {{ pyff_env_dir }}/mdq.fd
Restart=on-abort

[Install]
WantedBy=multi-user.target
