<!DOCTYPE html>
<html>
<head>
    <title>SRAM tools</title>
    <style>
        body {}
        h1{}
        p {}
    </style>
</head>
<body>
    <h1>SRAM tools</h1>
    <ul>
        <li>SRAM admins for test:
            <a href="contacts_test.csv">csv</a>
            <a href="contacts_test.xlsx">xlsx</a>
        </li>
        <li>SRAM admins for acc:
            <a href="contacts_acc.csv">csv</a>
            <a href="contacts_acc.xlsx">xlsx</a>
        </li>
        <li>SRAM admins for prod:
            <a href="contacts_prd.csv">csv</a>
            <a href="contacts_prd.xlsx">xlsx</a>
        </li>
    </ul>
</body>
</html>
