<?php

$config = [
    // This is a authentication source which handles admin authentication.
    'admin' => [
        // The default is to use core:AdminPassword, but it can be replaced with
        // any authentication source.

        'core:AdminPassword',
    ],


    // An authentication source which can authenticate against both SAML 2.0
    // and Shibboleth 1.3 IdPs.
    'default-sp' => [
        'saml:SP',

        // The entity ID of this SP.
        // Can be NULL/unset, in which case an entity ID is generated based on the metadata URL.
        'entityID' => null,

        // The entity ID of the IdP this SP should contact.
        // Can be NULL/unset, in which case the user will be shown a list of available IdPs.
        'idp' => null,

        // The URL to the discovery service.
        // Can be NULL/unset, in which case a builtin discovery service will be used.
        'discoURL' => null,

        /*
         * The attributes parameter must contain an array of desired attributes by the SP.
         * The attributes can be expressed as an array of names or as an associative array
         * in the form of 'friendlyName' => 'name'. This feature requires 'name' to be set.
         * The metadata will then be created as follows:
         * <md:RequestedAttribute FriendlyName="friendlyName" Name="name" />
         */
        /*
        'name' => [
            'en' => 'A service',
            'no' => 'En tjeneste',
        ],

        'attributes' => [
            'attrname' => 'urn:oid:x.x.x.x',
        ],
        'attributes.required' => [
            'urn:oid:x.x.x.x',
        ],
        */
    ],

    'example-userpass' => [
        'exampleauth:UserPass',
        'admin:admin' => [
            'uid' => ['admin'],
            'displayName' => 'Admin',
            'eduPersonPrincipalName' => 'admin@ci-runner.sram.surf.nl',
            'eduPersonAffiliation' => ['member', 'affiliate'],
            'eduPersonScopedAffiliation' => ['member@ci-runner.sram.surf.nl', 'affiliate@ci-runner.sram.surf.nl' ],
            'schacHomeOrganization' => 'ci-runner.sram.surf.nl',
            'eduPersonAssurance' => ['http://idm.example.org/LOA1#sample'],
        ],
        'student:student' => [
            'uid' => ['student'],
            'displayName' => 'Student',
            'eduPersonPrincipalName' => 'student@ci-runner.sram.surf.nl',
            'eduPersonAffiliation' => ['member', 'student'],
            'eduPersonScopedffiliation' => ['member@ci-runner.sram.surf.nl', 'student@ci-runner.sram.surf.nl' ],
            'schacHomeOrganization' => 'ci-runner.sram.surf.nl',
            'eduPersonAssurance' => ['http://idm.example.org/LOA2#sample'],
        ],
        'employee:employee' => [
            'uid' => ['employee'],
            'displayName' => 'Employee',
            'eduPersonPrincipalName' => 'employee@ci-runner.sram.surf.nl',
            'eduPersonAffiliation' => ['member', 'employee'],
            'eduPersonScopedffiliation' => ['member@ci-runner.sram.surf.nl', 'employee@ci-runner.sram.surf.nl' ],
            'schacHomeOrganization' => 'ci-runner.sram.surf.nl',
            'eduPersonAssurance' => ['http://idm.example.org/LOA3#sample'],
        ],
    ],
];
