- load:
  - "{{metadata_proxy_backend_source}}"
- select
- xslt:
    stylesheet: "{{metadata_basedir}}/transform.xslt"
- finalize:
    cacheDuration: P7D
    validUntil: P14D
- sign:
    key: "{{pyff_cert_dir}}/signing.key"
    cert: "{{pyff_cert_dir}}/signing.crt"
- publish: "{{metadata_target_dir}}/{{metadata_proxy_backend_file}}.new"
- stats
