#!/bin/sh
set -e

{{ pyff_env_dir }}/bin/pyff {{ metadata_idps_feed }}
{{ pyff_env_dir }}/bin/pyff {{ metadata_proxy_frontend_feed }}
{{ pyff_env_dir }}/bin/pyff {{ metadata_proxy_backend_feed }}

for f in "{{metadata_idps_target}}" "{{metadata_proxy_frontend_target}}" "{{metadata_proxy_backend_target}}"
do
    cp "$f.new" "{{metadata_web_dir}}"
    chmod 644 "$f.new"
    mv "$f.new" "$f"
done

exit 0
