- load fail_on_error True:
    - "{{metadata_proxy_frontend_source}}"
- select
- xslt:
    stylesheet: "{{metadata_basedir}}/transform_proxy.xslt"
- finalize:
    cacheDuration: P7D
    validUntil: P14D
    name: "SURF Research Access Management"
- sign:
    key: "{{metadata_cert_dir}}/signing.key"
    cert: "{{metadata_cert_dir}}/signing.crt"
- publish: "{{metadata_target_dir}}/{{metadata_proxy_frontend_file}}.new"
- stats
