- load:
   - {{ metadata_idps_xrd }}
   - {{ metadata_source_dir }}
- select:
{% for f in metadata_idps_filters %}
  - "{{ f }}"
{% endfor %}
- xslt:
    stylesheet: transform.xslt
- finalize:
    cacheDuration: P7D
    validUntil: P14D
- sign:
    key: certs/signing.key
    cert: certs/signing.crt
- publish: {{ metadata_idps_target }}.new
- stats
