[Unit]
Description=pyFF Metadata processing
After=syslog.target network.target

[Service]
Type=oneshot
User=pyff
UMask=022
LimitNOFILE=10240
WorkingDirectory={{metadata_basedir}}
ExecStart={{metadata_basedir}}/feeds.sh
SyslogIdentifier=pyff-metadata

[Install]
WantedBy=multi-user.target
