#######################################################################
{{ ansible_managed | comment('plain') }}
#######################################################################
{% if comanage_port is equalto 443 %}
<VirtualHost *:80>
    ServerName {{ comanage_full_hostname }}
    Redirect / https://{{ comanage_full_hostname }}/
</VirtualHost>
{% endif %}

<VirtualHost *:{{ comanage_port }}>
    ServerName {{ comanage_full_hostname }}
    ServerAdmin {{ admin_email }}

    DocumentRoot {{ comanage_root }}
{% if sp_home is not equalto "" %}
    <IfModule mod_rewrite.c>
        RewriteEngine on
        RewriteCond %{REQUEST_URI} "^/(?!registry)" [NC]
        RewriteRule "^(.*)" "/registry$1" [R,L]
    </IfModule>
{% endif %}


    Redirect {{ sp_home }}/users/logout {{ sp_path }}/logout?ReturnTo={{ sp_home }}

    <IfModule mod_php5.c>
        <FilesMatch "\.ph(p|tml)$">
            SetHandler application/x-httpd-php
        </FilesMatch>
        <FilesMatch "\.phps$">
            SetHandler application/x-httpd-php-source
        </FilesMatch>
    </IfModule>

    <Directory "{{ comanage_path }}">
        Options Indexes FollowSymLinks
        DirectoryIndex index.php
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <FilesMatch "\.php$">
        SSLOptions +StdEnvVars
    </FilesMatch>

    BrowserMatch "MSIE [2-6]" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0
    # MSIE 7 and newer should be able to use keepalive
    BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown

    <Location "{{ sp_home }}/">
        AuthType "Mellon"
        MellonEnable "info"
    </Location>

    <Location "{{ sp_home }}/auth">
        Require valid-user
        AuthType "Mellon"

        MellonEnable "auth"
        MellonVariable "cookie"
        MellonSecureCookie On
        MellonCookieDomain {{ portal_hostname }}
        MellonCookiePath /

        MellonUser "{{ idp_attribute }}"
        MellonEndpointPath "{{ sp_path }}"
        MellonDefaultLoginPath "{{ sp_home }}/"

        MellonSessionLength 86400
        MellonNoCookieErrorPage "{{ comanage_full_hostname }}/no_cookie.html"
        MellonSPMetadataFile {{ sp_metadata_dir }}/sp-metadata.xml

        MellonSPPrivateKeyFile {{ sp_key }}
        MellonSPCertFile {{ sp_certificate }}

        MellonIdPMetadataFile {{ idp_metadata_path }}
        MellonIdPPublicKeyFile {{ idp_certificate_path }}

        MellonSessionDump Off
        MellonSamlResponseDump Off
        MellonECPSendIDPList Off
        MellonRedirectDomains [self]

        MellonMergeEnvVars On
        MellonSetEnv         'cn' 'cn'
        MellonSetEnv         'cn' 'urn:oid:2.5.4.3'
        MellonSetEnv         'givenName' 'givenName'
        MellonSetEnv         'givenName' 'urn:oid:2.5.4.42'
        MellonSetEnv         'sn' 'sn'
        MellonSetEnv         'sn' 'urn:oid:2.5.4.4'
        MellonSetEnv         'displayName' 'displayName'
        MellonSetEnv         'displayName' 'urn:oid:2.16.840.1.113730.3.1.241'

        MellonSetEnv         'eduPersonAffiliation' 'eduPersonAffiliation'
        MellonSetEnv         'eduPersonAffiliation' 'urn:oid:1.3.6.1.4.1.5923.1.1.1.1'
        MellonSetEnv         'title' 'title'
        MellonSetEnv         'title' 'urn:oid:2.5.4.12'
        MellonSetEnv         'o' 'o'
        MellonSetEnv         'o' 'urn:oid:2.5.4.10'
        MellonSetEnv         'ou' 'ou'
        MellonSetEnv         'ou' 'urn:oid:2.5.4.11'

        MellonSetEnv         'eduPersonPrincipalName' 'eduPersonPrincipalName'
        MellonSetEnv         'eduPersonPrincipalName' 'urn:oid:1.3.6.1.4.1.5923.1.1.1.6'
        MellonSetEnv         'uid' 'uid'
        MellonSetEnv         'uid' 'urn:oid:0.9.2342.19200300.100.1.1'
        MellonSetEnv         'eduPersonUniqueId' 'eduPersonUniqueId'
        MellonSetEnv         'eduPersonUniqueId' 'urn:oid:1.3.6.1.4.1.5923.1.1.1.13'

        MellonSetEnv         'mail' 'mail'
        MellonSetEnv         'mail' 'urn:oid:0.9.2342.19200300.100.1.3'
        MellonSetEnv         'mobile' 'mobile'
        MellonSetEnv         'mobile' 'urn:oid:0.9.2342.19200300.100.1.41'
        MellonSetEnv         'fax' 'facsimileTelephoneNumber'
        MellonSetEnv         'fax' 'urn:oid:2.5.4.23'
        MellonSetEnv         'telephoneNumber' 'telephoneNumber'
        MellonSetEnv         'telephoneNumber' 'urn:oid:2.5.4.20'

        MellonSetEnv         'street' 'street'
        MellonSetEnv         'street' 'urn:oid:2.5.4.9'
        MellonSetEnv         'postalCode' 'postalCode'
        MellonSetEnv         'postalCode' 'urn:oid:2.5.4.17'
        MellonSetEnv         'st' 'st'
        MellonSetEnv         'st' 'urn:oid:2.5.4.8'
        MellonSetEnv         'l' 'l'
        MellonSetEnv         'l' 'urn:oid:2.5.4.7'
        MellonSetEnv         'c' 'c'
        MellonSetEnv         'c' 'urn:oid:2.5.4.6'

    </Location>

{% if comanage_port is equalto 443 %}
    # enabling SSL access, which is normally terminated at the LB
    SSLEngine on
    SSLCertificateFile      /etc/ssl/certs/ssl-cert-snakeoil.pem
    SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key
{% endif %}

</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
