#######################################################################
{{ ansible_managed | comment('plain') }}
#######################################################################
{% if comanage_port == 443 %}
<VirtualHost *:80>
    ServerName {{ comanage_full_hostname }}
    Redirect / https://{{ comanage_full_hostname }}/
</VirtualHost>
{% endif %}

<VirtualHost *:{{ comanage_port }}>
{#
    # by adding the protocol to the ServerName, we can
    # fix the HTTP->HTTPS translation issue when we pass
    # the LB. If we don't, the LB will connect using HTTP
    # and mod_mellon will discern a mismatch between the
    # incoming connection and the protocol specified in
    # the SAML data
#}
    ServerName https://{{ comanage_full_hostname }}
    ServerAdmin {{ mail.admin_address }}

    DocumentRoot {{ comanage_root }}

    RewriteEngine on
    RewriteRule '"' - [redirect=500,last]
{% if sp_home != "" %}
    RewriteCond %{REQUEST_URI} "^/(?!registry)" [NC]
    RewriteRule "^(.*)" "/registry$1" [R,L]
{% endif %}
    # make SP metadata available on a convenient url
    RewriteRule  "^/auth/sp/metadata$" "/etc/apache2/mellon/sp-metadata.xml

    Redirect {{ sp_home }}/users/logout {{ sp_path }}/logout?ReturnTo={{ sp_home }}

    <IfModule mod_php5.c>
        <FilesMatch "\.ph(p|tml)$">
            SetHandler application/x-httpd-php
        </FilesMatch>
        <FilesMatch "\.phps$">
            SetHandler application/x-httpd-php-source
        </FilesMatch>
    </IfModule>

    <Directory "{{ comanage_install_dir }}">
        Options Indexes FollowSymLinks
        DirectoryIndex index.php
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <IfModule mod_ssl.c>
        <FilesMatch "\.php$">
            SSLOptions +StdEnvVars
        </FilesMatch>
    </IfModule>


    BrowserMatch "MSIE [2-6]" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0
    # MSIE 7 and newer should be able to use keepalive
    BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown

    <Location "{{ sp_home }}/">
        AuthType "Mellon"
        MellonEnable "info"
        MellonMergeEnvVars Off
    </Location>

    <Location "{{ sp_home }}/auth">
        Require valid-user
        AuthType "Mellon"

        MellonEnable "auth"
        MellonVariable "cookie"
        MellonSecureCookie On
        MellonCookieDomain "{{sp_hostname}}"
        MellonCookiePath /

        MellonUser "{{ comanage_proxy_attribute }}"
        MellonEndpointPath "{{ sp_path }}"
        MellonDefaultLoginPath "{{ sp_home }}/"

        MellonSessionLength 86400
        MellonNoCookieErrorPage "{{ comanage_full_hostname }}/no_cookie.html"

        MellonSPPrivateKeyFile {{ sp_key }}
        MellonSPCertFile {{ sp_certificate }}

        MellonIdPMetadataFile {{ idp_metadata_path }}
        MellonDoNotVerifyLogoutSignature "{{ idp_metadata_url }}"

        MellonSessionDump Off
        MellonSamlResponseDump Off
        MellonECPSendIDPList Off
        MellonRedirectDomains [self]

        MellonMergeEnvVars Off

    </Location>

{% if comanage_port == 443 %}
    # enabling SSL access, which is normally terminated at the LB
    SSLEngine on
    SSLCertificateFile      /etc/ssl/certs/ssl-cert-snakeoil.pem
    SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key
{% endif %}

</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
