#!/bin/bash
set -e

SCIMFILE={{ scim_monitor_status_dir }}/data-{{env_name}}.json
STATUSFILE={{ scim_monitor_status_dir }}/status-{{env_name}}

curl \
    --silent --fail \
    --header "Authorization: Bearer {{ scim_monitor_sbs_token }}" \
    --header "accept: application/json"  \
    --request PUT \
    "https://{{ scim_monitor_sbs_host }}/api/scim/v2/sweep"

# consolidate the separate SCIM files from the directory into a single file for easy comparision
# remove the externalID and metadata as that is internal and transient for the SCIM server
(
    jq  '{(.externalId): del(.id,.meta)}' {{ scim_monitor_data_dir }}/Users/*                                    | jq -s '{"users": add}'  ;
    jq  '{(.externalId): del(.id,.meta)}' {{ scim_monitor_data_dir }}/Groups/* | jq 'del(.[].members[].value) '  | jq -s '{"groups": add}'
) | jq --slurp --sort-keys 'add' \
  | jq --tab '.groups[].members|=sort_by(.display)' \
  > $SCIMFILE

# compare the SCIM data with our reference
DIFF=$(
    diff -y -W180 --suppress-common-lines $SCIMFILE "{{ scim_monitor_reference }}" || true
)

# output to status file
NOW=$(date '+%s')
DIFFNR=$(echo "$DIFF"| wc -l)
echo '{"time":'$NOW',"diff":'$DIFFNR'}' > $STATUSFILE
echo -n "$DIFF"         >> $STATUSFILE

if [ -z "$DIFF" ]
then
    echo "OK: no difference between SCIM and reference for {{env_name}}"
else
    echo "FAIL: SCIM output differs from reference  for {{env_name}}"
    echo "$DIFF"
fi

exit 0
