---
# - name: restart apache
#   systemd:
#     name: apache2
#     state: restarted

- name: Restart the Etherpad container
  community.docker.docker_container:
    name: "{{ demo_containers.etherpad }}"
    restart: true
    state: started
