{
    "security": {
        "nameIdEncrypted": false,
        "authnRequestsSigned": true,
        "logoutRequestSigned": false,
        "logoutResponseSigned": false,
        "signMetadata": false,
        "wantMessagesSigned": false,
        "wantAssertionsSigned": true,
        "wantNameId" : true,
        "wantNameIdEncrypted": false,
        "wantAttributeStatement": false,
        "wantAssertionsEncrypted": false,
        "requestedAuthnContext": [
            "http://{{ sbs_surf_secure_id.environment }}/assurance/sfo-level2 }}"
        ],
        "requestedAuthnContextComparison": "minimum",
        "failOnAuthnContextMismatch": false,
        "allowSingleLabelDomains": false,
        "signatureAlgorithm": "http://www.w3.org/2001/04/xmldsig-more#rsa-sha256",
        "digestAlgorithm": "http://www.w3.org/2001/04/xmlenc#sha256",
        "rejectDeprecatedAlgorithm": true
    },
    "contactPerson": {
        "technical": {
            "givenName": "sbs",
            "emailAddress": "sbs@urf.nl"
        }
    },
    "organization": {
        "en-US": {
            "name": "SBS",
            "displayname": "SBS",
            "url": "https:/surf.nl"
        }
    }
}
