database:
  uri: "mysql+pymysql://{{ sbs_db_user }}:{{ sbs_db_password }}@{{ db_host }}/{{ sbs_db_name }}"

secret_key: {{ sbs_db_secret }}

# Valid scopes are "READ" and "WRITE"
api_users:
  {% for name, user in sbs_api_users.items() %}
  - name: "{{ name }}"
      password: "{{ user.password }}"
      scopes: [ {{ user.scopes|join(', ') }} ]
  {% endfor %}

oidc:
  client_id: {{ sbs_rp_client_id }}
  client_secret: {{ sbs_rp_client_secret }}
  authorization_endpoint: {{ sbs_authorization_endpoint }}
  token_endpoint: {{ sbs_token_endpoint }}
  userinfo_endpoint: {{ sbs_userinfo_endpoint }}
  # Note that the paths for these  uri's is hardcoded and only domain and port differ per environment
  redirect_uri: {{ sbs_base_url }}api/users/resume-session
  scopes:
    - profile
    - eduperson_scoped_affiliation
    - voperson_external_affiliation
    - email
    - ssh_public_key
    - eduperson_orcid
    - uid
    - voperson_external_id
    - eduperson_entitlement
    - eduperon_assurance
    - openid
    - eduperson_principal_name
    - voperson_id

base_scope: "{{ base_domain }}"
entitlement_group_namespace: "{{ sbs_urn_namespace }}"
collaboration_creation_allowed_entitlement: "urn:mace:surf.nl:sram:allow-create-co"

# All services in the white list can be requested in the create-restricted-co API
# The default organisation is a fallback for when the administrator has no schac_home_org
restricted_co:
  services_white_list: ["https://cloud"]
  default_organisation: "{{ sbs_restricted_co_default_org }}"

mail:
  host: {{ sbs_mail_host }}
  port: {{ sbs_mail_port }}
  sender_name: {{ sbs_mail_sender_name }}
  sender_email: {{ sbs_mail_sender_email }}
  suppress_sending_mails: False
  info_email: scz-support@surfnet.nl

aup:
  pdf: SURFresearch-Access-Management-AUP-01122019-0001.pdf
  pdf_link: "{{ sbs_base_url }}static/SURFresearch-Access-Management-AUP-01122019-0001.pdf"
  html: SURFresearch-Access-Management-AUP-01122019-0001.html

base_url: {{ sbs_base_url }}
wiki_link: {{ sbs_wiki_link }}

admin_users:
  {% for admin_user in sbs_admin_users %}
  - uid: "{{ admin_user.uid }}"
  {% endfor %}

feature:
  admin_users_upgrade: False
  admin_users_upgrade_url: "{{ sbs_base_url }}api/users/upgrade_super_user"
  admin_users_upgrade_redirect_url: {{ sbs_base_url }}

# The retention config determines how long users may be inactive, how long the reminder email is valid and when do we resent the magic link
retention:
  allowed_inactive_period_days: 90
  reminder_expiry_period_days: 14
  reminder_resent_period_days: 7

service_bus:
  enabled: False
  host: "localhost"
  client_id: "sbs"
  user: "sbs"
  password: "unused"