version: "2.1"

services:

  db:
    image: mysql:8.0
    volumes:
      - ./etc/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./etc/mysql.cnf:/etc/mysql/conf.d/mysql.cnf
      - ./data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    networks:
      - backend
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "-uroot", "-p${DB_ROOT_PASSWORD}", "ping"]
      interval: 5s
      timeout: 60s
      retries: 30

  server:
    image: "{{ sbs_image_repository }}/{{ sbs_server_image }}:{{ sbs_server_version }}"
    volumes:
      - ./log:/opt/app/log
      - ./config.yml:/opt/app/server/config/config.yml
      - ./alembic.ini:/opt/app/server/migrations/alembic.ini
      - ./disclaimer.css:/opt/app/server/static/disclaimer.css
      - ./log:/var/log/nginx
    depends_on:
      db:
        condition: service_healthy
    networks:
      - frontend
      - backend
    ports:
      - {{ docker_ports.sbs }}:80
    command:
      - /bin/bash
      - -c
      - |
        echo "Starting SBS server..."
        nginx && uwsgi --socket localhost:8080 --wsgi-file /opt/app/server/__main__.py --callable app --processes 4 --threads 2
    restart: unless-stopped

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge
