server {
    listen {{sbs_backend_port}} ssl http2;
    server_name _        sbs.vm.scz-vm.net;

    ssl_certificate     {{ ssl_certs_dir }}/{{ internal_base_domain }}.crt;
    ssl_certificate_key {{ ssl_certs_dir }}/{{ internal_base_domain }}.key;

    root /opt/sbs/sbs/client/build;

    add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; frame-ancestors 'none'; form-action 'self'; style-src 'self' 'unsafe-inline' fonts.googleapis.com fonts.gstatic.com; font-src 'self' 'unsafe-inline' fonts.googleapis.com fonts.gstatic.com; img-src 'self' data:; block-all-mixed-content";

    location / {
        try_files $uri @index;
    }

    location @index {
        rewrite ^ /index.html;
    }

    location ~ /(api|pam-weblogin|health|config|info) {
        include proxy_params;
        proxy_pass http://127.0.0.1:8080;
    }

    location /socket.io {
        include proxy_params;
        proxy_http_version 1.1;
        proxy_buffering off;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_pass http://127.0.0.1:8080/socket.io;
    }
}
