import os
import sys

os.environ['PROFILE'] = 'wsgi'
os.environ['REQUESTS_CA_BUNDLE'] = "/etc/ssl/certs/ca-certificates.crt"

if "{{ sbs_git_dir }}" not in sys.path:
  sys.path.insert(0, "{{ sbs_git_dir }}")

from server.__main__ import app as application
