<VirtualHost *:90>
        ServerName sbs.vm.scz-vm.net

        ServerAdmin webmaster@localhost
        DocumentRoot /opt/sbs/sbs/client/build

        ErrorLog syslog:local1:apache2
        CustomLog "|/usr/bin/logger --size 8k -p local1.info -t apache2" sram

        SSLEngine on
        SSLCertificateFile /etc/ssl/vm.scz-vm.net.crt
        SSLCertificateKeyFile /etc/ssl/vm.scz-vm.net.key

        Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; frame-ancestors 'none'; form-action 'self'; style-src 'self' 'unsafe-inline' fonts.googleapis.com fonts.gstatic.com; font-src 'self' 'unsafe-inline' fonts.googleapis.com fonts.gstatic.com; img-src 'self' data:; block-all-mixed-content"

        # rewite everything to https://sbs.scz-vm.net
        RewriteEngine On

        RewriteCond "https://%{HTTP_HOST}" !^https://sbs.scz-vm.net [NC]
        RewriteCond "%{HTTP_HOST}"         !=""
        RewriteCond "%{REQUEST_URI}"       !^/api
        RewriteRule "^/?(.*)"  "https://sbs.scz-vm.net/$1" [L,R,NE]

        ProxyRequests On
        ProxyPass /api http://localhost:8080/api
        ProxyPass /pam-weblogin http://localhost:8080/pam-weblogin
        ProxyPass /health http://localhost:8080/health
        ProxyPass /config http://localhost:8080/config
        ProxyPass /info http://localhost:8080/info
        ProxyPass /socket.io wss://localhost:8080/socket.io
        ProxyPassReverse / http://localhost:8080/

        <Directory /opt/sbs/sbs/client/build >
            Require all granted
        </Directory>

        <LocationMatch ^/(?!api|pam-weblogin|health|config|info|socket.io)>
            RewriteCond %{REQUEST_FILENAME} !-f
            RewriteRule ^ /index.html [QSA,L]
        </LocationMatch>

</VirtualHost>
