Listen {{ sbs_backend_port }}
<VirtualHost *:{{ sbs_backend_port }}>
        ServerName {{ inventory_hostname }}

        ServerAdmin webmaster@localhost
        DocumentRoot {{ sbs_git_dir }}/client/build

        ErrorLog syslog:local1:apache2
        CustomLog "|/usr/bin/logger --size 8k -p local1.info -t apache2" sram

        SSLEngine on
        SSLCertificateFile {{ ssl_certs_dir }}/{{ internal_base_domain }}.crt
        SSLCertificateKeyFile {{ ssl_certs_dir }}/{{ internal_base_domain }}.key

        WSGIDaemonProcess server user=www-data group=www-data processes=2 threads=5

        WSGIScriptAlias /api {{ sbs_git_dir }}/sbs-api.wsgi/api
        WSGIScriptAlias /health {{ sbs_git_dir }}/sbs-api.wsgi/health
        WSGIScriptAlias /config {{ sbs_git_dir }}/sbs-api.wsgi/config
        WSGIScriptAlias /info {{ sbs_git_dir }}/sbs-api.wsgi/info

{% if sbs_swagger_enabled %}
        # Swagger UI
        WSGIScriptAlias /apidocs {{ sbs_git_dir }}/sbs-api.wsgi/apidocs
        WSGIScriptAlias /flasgger_static {{ sbs_git_dir }}/sbs-api.wsgi/flasgger_static
        WSGIScriptAlias /swagger_api {{ sbs_git_dir }}/sbs-api.wsgi/swagger_api
{% endif %}

        WSGIApplicationGroup %{GLOBAL}
        WSGIPassAuthorization On

{% if sbs_swagger_enabled %}
        Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; frame-ancestors 'none'; form-action 'self'; style-src 'self' 'unsafe-inline' fonts.googleapis.com fonts.gstatic.com; img-src 'self' data:; block-all-mixed-content"
{% else %}
        Header set Content-Security-Policy "default-src 'self'; script-src 'self'; frame-ancestors 'none'; form-action 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; block-all-mixed-content"
{% endif %}

        # rewite everything to {{sbs_base_url}}
        RewriteCond "https://%{HTTP_HOST}" !^{{sbs_base_url}} [NC]
        RewriteCond "%{HTTP_HOST}"         !=""
        RewriteCond "%{REQUEST_URI}"       !^/api
        RewriteRule "^/?(.*)"  "{{sbs_base_url}}/$1" [L,R,NE]

        <Directory {{ sbs_git_dir }}>
            WSGIProcessGroup server
            Require all granted
        </Directory>

        <LocationMatch ^/>
           RewriteEngine On
           RewriteCond %{REQUEST_FILENAME} !-f
           RewriteRule ^ /index.html [QSA,L]
        </LocationMatch>

</VirtualHost>
