[Unit]
Description=SBS
After=network.target

[Service]
DynamicUser=true
User=_sram_sbs
Group=_sram_sbs
SupplementaryGroups={{sbs_group}}

WorkingDirectory=/opt/sbs/sbs
ReadWritePaths={{sbs_log_dir}}
NoNewPrivileges=true

Environment="CONFIG=config/config.yml"

Type=simple
ExecStart=/opt/sbs/sbs-env/bin/python -m server

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
