[Unit]
Description=SBS
After=syslog.target network.target

[Service]
Type=simple
User=sbs
WorkingDirectory={{ sbs_env_dir }}
Environment=PROFILE=local
ExecStart={{ sbs_env_dir }}/bin/python -m server
Restart=on-abort
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sbs

[Install]
WantedBy=multi-user.target
