server {
        listen 443 default_server ssl;

        ssl_certificate     {{ ssl_certs_dir }}/{{ internal_base_domain }}.crt;
        ssl_certificate_key {{ ssl_certs_dir }}/{{ internal_base_domain }}.key;
        ssl_protocols       TLSv1.3;
        ssl_ciphers         HIGH:!aNULL:!MD5;

        ssl_client_certificate {{backup_collector_client_cert_path}};
        ssl_verify_client on;

        root {{backup_collector_basedir}}/webroot;

{% for ip in backup_collector_ip_allowlist%}
        allow {{ip}};
{% endfor %}
        deny all;

        location /backups {
            alias {{backup_collector_backupdir}};
            autoindex on;
        }

        location /robots.txt {
            return 200;
        }

        location / {
            return 403;
        }
}
