---
# - name: "systemd daemon-reload"
#   systemd:
#     daemon_reload: true

# - name: "restart sbs"
#   systemd:
#     name: "sram-sbs.service"
#     state: "restarted"
#     enabled: true

- name: Restart sbs containers
  community.docker.docker_container:
    name: "{{ item }}"
    state: started
    restart: true
  loop:
    - "{{ containers.sbs }}"
    - "{{ containers.sbs_server}}"

- name: Restart redis container
  community.docker.docker_container:
    name: "{{ containers.redis }}"
    state: started
    restart: true
