<?php
# set config to empty array by default
$config = array();

# include all authsource snippets from the subdir
$inc_files = glob("{{simplesaml_idpmetadata_dir}}/*.inc");
natsort($inc_files);
foreach ($inc_files as $filename)
{
    include $filename;
}
