[mysqld]
bind-address            = 0.0.0.0

ssl-cert = {{ mariadb_cert_dir }}/backend.crt
ssl-key = {{ mariadb_cert_dir }}/backend.key
require_secure_transport = ON

# https://github.com/TPC-Council/HammerDB/issues/778
# https://mariadb.com/resources/blog/isolation-level-violation-testing-and-debugging-in-mariadb/
innodb_snapshot_isolation = OFF

# https://stackoverflow.com/questions/7942154/mysql-error-2006-mysql-server-has-gone-away
max_allowed_packet=16M
