#!/bin/bash
# vim:ft=sh
set -e

if [ $UID -ne 0 ]
then
	echo "Sorry, this script must run as root"
	exit 1
fi

BACKUP_DIR="{{satosa_backup_dir}}"
BACKUP_FILE="$BACKUP_DIR/satosa_mysql_$(/bin/date +%Y-%m-%d_%H:%M)"

mkdir -p -m 0755 "$BACKUP_DIR"

for d in $(mysql --silent --skip-column-names -e 'show databases')
do
	if [ "$d" == "performance_schema" ]
	then
		continue
	fi

	echo "Dumping mysql database '$d'"
	/usr/bin/mysqldump --single-transaction --skip-lock-tables --events \
		--routines --triggers --flush-privileges --extended-insert --tz-utc \
		--databases "$d" \
		| /bin/bzip2 -c6 > "${BACKUP_FILE}.${d}.sql.bz2"
done

exit 0
