#!/bin/sh
cd {{ metadata_project_dir }}
wget https://wayf.surfnet.nl/metadata/edugain/downstream.xml -q -O sc_edugain.xml

# Select R&S and COCO entityID's but not SURFConext
#xsltproc rs_coco_nosc.xsl sc_edugain.xml > sc_edugain_rs_coco_nosc.xml
xalan -in sc_edugain.xml -xsl rs_coco_nosc.xsl -indent 2 > sc_edugain_rs_coco_nosc.xml

# Remove logos
#xsltproc nologo.xsl sc_edugain_rs_coco_nosc.xml > sc_edugain_rs_coco_nosc_nologo.xml
xalan -in sc_edugain_rs_coco_nosc.xml -xsl nologo.xsl -indent 2 > sc_edugain_rs_coco_nosc_nologo.xml

# Split SP's and IdP's
#xsltproc idps.xsl sc_edugain_rs_coco_nosc_nologo.xml > sc_edugain_rs_coco_nosc_nologo_idps.xml
#xsltproc sps.xsl  sc_edugain_rs_coco_nosc_nologo.xml > sc_edugain_rs_coco_nosc_nologo_sps.xml
xalan -in sc_edugain_rs_coco_nosc_nologo.xml -xsl idps.xsl -indent 2 > sc_edugain_rs_coco_nosc_nologo_idps.xml
xalan -in sc_edugain_rs_coco_nosc_nologo.xml -xsl sps.xsl  -indent 2 > sc_edugain_rs_coco_nosc_nologo_sps.xml

# Retrieve SATOSA generated md
wget https://{{ hostnames.proxy }}/md/SamlIdP.xml -q -O proxy_idp.xml
wget https://{{ hostnames.proxy }}/md/SamlSP.xml  -q -O proxy_sp.xml

#rm -f /var/www/html/*.xml
cp *.xml /var/www/html
