#!/bin/bash
# vim:ft=sh
set -e

WFLAGS="--server-response --timeout=2 --tries=1 --no-verbose"

basedir={{ metadata_project_dir }}
ds=`date '+%Y%m%d-%H%M'`
dir=$(mktemp -d -p $basedir run-${ds}.XXX)
# for debugging systemd timer unit
# echo $ds >> metadata.log

cd $dir

# Redirect stdout and stderr to a logfile and Cproperly handle errors only output the log if an error occurs
exec 6>&1
#exec > log.txt 2>&1
function on_error() {
    LASTLINE="$1"         # line of error occurrence
    LASTERR="$2"          # error code

    # show a message in the logs
    msg="Metadata processing failed at line ${LASTLINE} (error: ${LASTERR}).  Directory was '${dir}'"
    echo "$msg"
    echo "$msg" >&6

    # compress debug logs to not fill disk too quickly
    touch dummy.xml
    xz -9 *.xml
}
trap 'on_error ${LINENO} ${?}' ERR

# be verbose
set -x

wget {{ edugain_feed }} $WFLAGS -O sc_edugain.xml

# Check signature
xmlsec1 --verify --trusted-pem "$basedir/edugain.crt" --id-attr:ID "urn:oasis:names:tc:SAML:2.0:metadata:EntitiesDescriptor" sc_edugain.xml

# Select IdP's
xalan -in sc_edugain.xml -xsl "$basedir/idps.xsl" -indent 2 > sc_edugain_idps.xml

# Remove logos
xalan -in sc_edugain_idps.xml -xsl "$basedir/nologo.xsl" -indent 2 > sc_edugain_idps_nologo.xml

# Remove hide-from-discovery
xalan -in sc_edugain_idps_nologo.xml -xsl "$basedir/nohide.xsl" -indent 2 > sc_edugain_idps_nologo_nohide.xml

# Remove registrationAuthority = SURFconext
xalan -in sc_edugain_idps_nologo_nohide.xml -xsl "$basedir/nosc.xsl" -indent 2 > sc_edugain_idps_nologo_nohide_nosc.xml

# Retrieve SATOSA generated md
wget {{ proxy_metadata_baseurl }}/SamlIdP.xml $WFLAGS -O proxy_idp.xml
wget {{ proxy_metadata_baseurl }}/SamlSP.xml  $WFLAGS -O proxy_sp.xml

#rm -f /var/www/html/*.xml
cp *.xml "{{ metadata_documentroot }}"

# remove old xml files in the www dir that don't have a newly generated equivalent
for f in "{{ metadata_documentroot }}"/*.xml
do
    f_base=$(basename $f)
    if ! [ -e "$dir/$f_base" ]
    then
        rm -f $f
    fi
done

# remove temporary files if everything went ok
rm -rf "$dir"

# remove Directories older than 7 days
find . -type d -mtime +7 -exec rm -rf {} \;

exit 0
