server {
        listen {{ metadata_backend_port }} default_server;
        listen [::]:{{ metadata_backend_port }} default_server;

        root {{ metadata_documentroot }};

        location / {
                autoindex on;
        }
}
