server {
        listen {{ meta_port }} default_server ssl;
        listen [::]:{{ meta_port }} default_server ssl;

        ssl_certificate     {{ ssl_certs_dir }}/{{ internal_base_domain }}.crt;
        ssl_certificate_key {{ ssl_certs_dir }}/{{ internal_base_domain }}.key;
        ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers         HIGH:!aNULL:!MD5;

        root {{ metadata_documentroot }};

        location / {
                autoindex on;
        }
}
