[Journal]
Storage=persistent
Compress=yes
Seal=yes
SplitMode=none

# log a max of 10k messages within 30 for each service
RateLimitIntervalSec=30s
RateLimitBurst=10000

# Keep a maximum of 1GB on disk storage
SystemMaxUse=1G
SystemMaxFileSize={{journal_max_filesize}}
SystemMaxFiles=100

# split files every day, and keep message for max 2 weeks
MaxFileSec={{journal_max_filetime}}
MaxRetentionSec={{journal_retention}}
SyncIntervalSec=1m

# we only forward to syslog and tty1
# TODO: check if we can get rid of syslog altogether
ReadKMsg=yes
ForwardToSyslog=no
ForwardToKMsg=no
ForwardToConsole=yes
ForwardToWall=no

TTYPath=/dev/tty1

MaxLevelStore=debug
MaxLevelSyslog=debug
MaxLevelConsole=warning
