[Journal]
Storage=persistent
Compress=yes
Seal=yes
SplitMode=none

# log a max of 10k messages within 30 for each service
RateLimitIntervalSec=30s
RateLimitBurst=10000

# keep a max of 100 files of 128MB, but always keep at least 2GB free on disk
# TODO: bring this down once we have fixed central logging
SystemMaxUse=
SystemKeepFree=2G
SystemMaxFileSize=2G
SystemMaxFiles=100

# split files every day, and keep message for max 2 weeks
MaxFileSec=1day
MaxRetentionSec={{journal_retention}}
SyncIntervalSec=1m

# we only forward to syslog and tty1
# TODO: check if we can get rid of syslog altogether
ReadKMsg=yes
ForwardToSyslog=yes
ForwardToKMsg=no
ForwardToConsole=yes
ForwardToWall=no

TTYPath=/dev/tty1

MaxLevelStore=debug
MaxLevelSyslog=debug
MaxLevelConsole=warning
