[Upload]
URL=https://{{journal_upload_host}}:{{journal_upload_port}}
ServerKeyFile={{ssl_certs_dir}}/journal-client.key
ServerCertificateFile={{ssl_certs_dir}}/journal-client.crt
TrustedCertificateFile={{ssl_certs_dir}}/journal-ca.crt
