<VirtualHost *:{{cotosa_api_port}}>
    ServerName {{ cotosa_api_hostname }}
    ServerAdmin {{ mail.admin_address }}

    DocumentRoot {{ cotosa_api_webroot }}

    <FilesMatch "\.php$">
        SetHandler application/x-httpd-php
        SSLOptions +StdEnvVars
    </FilesMatch>

    <Directory "{{ cotosa_api_webroot }}">
        AllowOverride None
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/cotosa_api-error.log
    CustomLog ${APACHE_LOG_DIR}/cotoa_api-access.log combined

    <Location "/">
        Require valid-user
        AuthType "basic"
        AuthName "SCZ COtoSA API"
        AuthBasicProvider file
        AuthUserFile "{{ cotosa_api_path }}/htpasswd"
    </Location>
</VirtualHost>
