<VirtualHost *:80>
        ServerName {{ hostnames.nextcloud }}

        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/html

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        <Location />
                Require valid-user
                AuthType "Mellon"

                MellonEnable "auth"
                MellonVariable "cookie"
                MellonCookiePath /
                MellonMergeEnvVars On ";"

                MellonSPPrivateKeyFile {{ mellon_dir }}/sp.key
                MellonSPCertFile {{ mellon_dir }}/sp.crt

                MellonIdPMetadataFile {{ mellon_dir }}/proxy_idp.xml

                RequestHeader set MELLON_uid %{MELLON_urn:mace:dir:attribute-def:uid}e
                RequestHeader set MELLON_isMemberOf %{MELLON_urn:mace:dir:attribute-def:isMemberOf}e

                ProxyPass http://localhost:{{ docker_ports.nextcloud }}/
                ProxyPassReverse http://localhost:{{ docker_ports.nextcloud }}/
        </Location>
</VirtualHost>
