#!/bin/bash
echo "enable frontend ldap_ldap.scz-vm.net_636" | socat stdio /run/haproxy/admin.sock

TARGET="{{ groups['vm_ldap'] | join(' ') }}"
MAXFAIL=0

COUNTER=0
while : ; do
  fping ${TARGET} &>/dev/null
  if [ $? -ne 0 ]; then
    COUNTER=$((COUNTER+1))
    if [ $COUNTER -gt ${MAXFAIL} ]; then
      echo "disable frontend ldap_ldap.scz-vm.net_636" | socat stdio /run/haproxy/admin.sock
      break
    fi
  else
    COUNTER=0
  fi
  #echo ${COUNTER}
  sleep 1;
done
