[Unit]
Description=Create OSCP Runner

[Service]
User=root
Group=root
Type=oneshot
{% if enable_https and use_fixed_cert %}
WorkingDirectory={{ cert_dir }}
{% elif enable_https %}
WorkingDirectory={{ letsencrypt.cert_dir }}
{% endif %}
ExecStart={{ haproxy_oscp_bin_dir }}/ocsp.sh
