#!/bin/sh

set -e
umask 0600

# save frontend state
echo "show servers state" \
    | socat unix-connect:/run/haproxy/admin.sock stdio \
    > "{{haproxy_state_file}}.tmp"
chown root:haproxy "{{haproxy_state_file}}.tmp"
chmod 0640 "{{haproxy_state_file}}.tmp"
mv "{{haproxy_state_file}}.tmp" "{{haproxy_state_file}}"

exit 0
