#!/bin/sh

set -e

# save frontend state
echo "show servers state" \
    | socat unix-connect:/run/haproxy/admin.sock stdio \
    > "{{haproxy_state_file}}.tmp"
mv "{{haproxy_state_file}}.tmp" "{{haproxy_state_file}}"

# save current acls
echo "show acl {{haproxy_ldap_acl_file}}" \
	| socat unix-connect:/run/haproxy/admin.sock stdio \
	| awk '{print $2}' \
	> "{{haproxy_ldap_acl_file}}.tmp"

mv "{{haproxy_ldap_acl_file}}.tmp" "{{haproxy_ldap_acl_file}}"

exit 0
