---
# - name: restart MariaDB
#   systemd:
#     daemon_reload: true
#     name: "mariadb"
#     state: "restarted"
#     enabled: true

- name: Restart the database container
  community.docker.docker_container:
    name: "{{ containers.db }}"
    restart: true
    state: started
