---
# playbook to install and configure all components of the LDAP
- name: Install LDAP utils
  apt:
    state: "present"
    name:
      - "python3-ldap"  # for ansible ldap modules
    install_recommends: false

# - name: remove obsolete logging config
#   file:
#     path: "{{ item }}"
#     state: absent
#   loop:
#     - "/etc/rsyslog.d/slapd.conf"
#     - "/etc/logrotate.d/slapd"
#
# - name: make sure slapd can read ssl keys
#   user:
#     name: "openldap"
#     groups: "ssl-cert"
#     append: true
#     shell: "/usr/sbin/nologin"
#
#
# - name: Copying alternative service script
#   template:
#     src: "slapd.service.j2"
#     dest: "/etc/systemd/system/slapd.service"
#   notify:
#     - "systemd daemon-reload"
#     - "restart LDAP"
#
# - name: force restart
#   meta: "flush_handlers"
#
- name: Ensure that a number of directories exist
  file:
    path: "{{ item.path }}"
    state: "directory"
    # owner: "{{ ldap_user }}"
    # group: "{{ ldap_group }}"
    mode: "{{ item.mode }}"
  # tags: "ldap"
  with_items:
    - { path: "{{ldap_ldif_dir}}",  mode: "0755" }
    - { path: "{{ldap_certs_dir}}", mode: "0755" }
    - { path: "{{ldap_data_dir}}",  mode: "0777" }
  notify: Restart the ldap container

- name: Copy schemas
  copy:
    src: "{{ item }}"
    dest: "{{ ldap_ldif_dir }}/{{ item }}"
    mode: "0644"
  with_items:
    - sczGroup.ldif
    - groupOfMembers.ldif
    - eduPerson.ldif
    - ldapPublicKey.ldif
    - eduMember.ldif
    - voPerson.ldif
    - sramPerson.ldif
  notify: Restart the ldap container

- name: Copying ldap-add script
  copy:
    src: "{{ item }}"
    dest: "{{ ldap_dir }}/{{ item }}"
    mode: "0755"
  with_items:
    - ldap-add

# - name: Copy DH params
#   copy:
#     src: "{{ item }}"
#     dest: "{{ ldap_certs_dir }}/{{ item }}"
#     mode: "0644"
#   with_items:
#     - dh_params

# - name: Create wildcard backend key
#   copy:
#     content: "{{wildcard_backend_cert.priv}}"
#     dest: "{{ldap_certs_dir}}/backend.key"
#     # owner: "root"
#     # group: "ssl-cert"
#     mode: "0644"
#   no_log: "{{sram_ansible_nolog}}"
#   notify: Restart the ldap container

# - name: Create wildcard backend cert
#   copy:
#     content: "{{wildcard_backend_cert.pub}}"
#     dest: "{{ldap_certs_dir}}/backend.crt"
#     # owner: "root"
#     # group: "root"
#     mode: "0644"
#   notify: Restart the ldap container

# cert is used for communication between ldap for sync
# is generated in roles/certificates/tasks/main.yml
- name: Copy wildcard frontend cert
  copy:
    src: "/etc/ssl/certs/sram-https.pem"   # was installed here by update-ca-certificates
    remote_src: true
    dest: "{{ldap_certs_dir}}/frontend.crt"
    mode: "0644"
  when: "is_dev"
  notify: Restart the ldap container

- name: Setup ldap hosts
  vars:
    host:
      key: "%s.{{ base_domain }}"
      value: "%s"
    etc_hosts: {}
  set_fact:
    etc_hosts: >-
      {{ etc_hosts |
      combine({ host.key | format(item.key): host.value | format(item.value) }) }}
  with_dict: "{{ ldap_hosts }}"

- name: Create the ldap container
  community.docker.docker_container:
    name: "{{ containers.ldap }}"
    image: "{{ images.ldap }}"
    restart_policy: "always"
    state: started
    pull: true
    ports:
      - 0.0.0.0:389:389
    env:
      LDAP_ORGANISATION: "{{ environment_string }}"
      LDAP_DOMAIN: "{{ ldap_base_domain }}"
      LDAP_ROOTPASS: "{{ services_ldap_password }}"
    etc_hosts: "{{ etc_hosts }}"
    volumes:
      # For now the target side /opt/ldap is hard-coded
      - "{{ ldap_dir }}:/opt/ldap"
    networks:
      - name: "{{internal_network}}"
      - name: "{{traefik_network}}"
    labels:
      traefik.enable: "true"
      traefik.docker.network: "{{traefik_network}}"
      traefik.tcp.routers.ldap.entrypoints: "ldaps"
      traefik.tcp.routers.ldap.rule: "HostSNI(`*`)"
      traefik.tcp.routers.ldap.tls: "true"
      traefik.tcp.services.ldap.loadbalancer.server.port: "389"
  register: "ldap_container"

- name: Wait for LDAP initialization
  ansible.builtin.wait_for:
    port: 389
    delay: 5

- name: Wait for 5 seconds
  ansible.builtin.wait_for:
    timeout: 5
  when: "ldap_container is changed"

- name: Ensure the schemas are added to LDAP
  ansible.builtin.shell:
    # For now the target side /opt/ldap is hard-coded
    cmd: "docker exec {{ containers.ldap }} /opt/ldap/ldap-add /opt/ldap/schema/{{ item }}"
  register: "result"
  failed_when: "result.rc not in [0,80]"
  changed_when: "result.rc != 80"
  become: true
  loop:
    - "sczGroup.ldif"
    - "groupOfMembers.ldif"
    - "eduPerson.ldif"
    - "ldapPublicKey.ldif"
    - "eduMember.ldif"
    - "voPerson.ldif"
    - "sramPerson.ldif"

- name: Set indices
  community.general.ldap_attrs:
    dn: "olcDatabase={1}mdb,cn=config"
    attributes:
      olcDbIndex: "{{item}}"
    state: "present"
    bind_dn: "cn=admin,cn=config"
    bind_pw: "{{ services_ldap_password }}"
    server_uri: "{{ ldap_uri }}"
  with_items:
    - "entryUUID eq"
    - "o eq"
    - "dc eq"
    - "entryCSN eq"

- name: Set olcDatabase={-1}frontend olcSizeLimit
  community.general.ldap_attrs:
    dn: "olcDatabase={-1}frontend,cn=config"
    state: "exact"
    attributes:
      olcSizeLimit: "unlimited"
    bind_dn: "cn=admin,cn=config"
    bind_pw: "{{ services_ldap_password }}"
    server_uri: "{{ ldap_uri }}"

# - name: Set config olcTLSCipherSuite
#   community.general.ldap_attrs:
#     dn: "cn=config"
#     state: "exact"
#     attributes:
#       olcTLSCipherSuite: "ALL:!NULL"
#     bind_dn: "cn=admin,cn=config"
#     bind_pw: "{{ services_ldap_password }}"
#     server_uri: "{{ ldap_uri }}"

- name: Set config
  community.general.ldap_attrs:
    dn: "cn=config"
    state: "present"
    attributes:
      olcServerID: "{{ ldap_server_id }}"
      olcSizeLimit: "unlimited"
      olcLogLevel: "{{ ldap_loglevel }}"
      olcAttributeOptions: "time-"
    bind_dn: "cn=admin,cn=config"
    bind_pw: "{{ services_ldap_password }}"
    server_uri: "{{ ldap_uri }}"

# cert is used for communication between ldap for sync
# is generated in roles/certificates/tasks/main.yml
- name: Set TLS config
  community.general.ldap_attrs:
    dn: "cn=config"
    state: "exact"
    attributes:
      olcTLSCACertificateFile: "/opt/ldap/certs/frontend.crt"
    bind_dn: "cn=admin,cn=config"
    bind_pw: "{{ services_ldap_password }}"
    server_uri: "{{ ldap_uri }}"
  when: "is_dev"  # TODO: check this.

- name: Setup Modules
  community.general.ldap_attrs:
    dn: cn=module{0},cn=config
    attributes:
      olcModuleLoad:
        - syncprov
        - dynlist.so
    bind_dn: "cn=admin,cn=config"
    bind_pw: "{{ services_ldap_password }}"
    server_uri: "{{ ldap_uri }}"

- name: Setup Dynlist
  community.general.ldap_entry:
    dn: olcOverlay=dynlist,olcDatabase={1}mdb,cn=config
    objectClass:
      - olcOverlayConfig
      - olcDynamicList
    attributes:
      olcDlAttrSet: "voPerson labeledURI member+memberOf@groupOfMembers"
    bind_dn: "cn=admin,cn=config"
    bind_pw: "{{ services_ldap_password }}"
    server_uri: "{{ ldap_uri }}"

- name: Setup Syncprov
  community.general.ldap_entry:
    dn: olcOverlay=syncprov,olcDatabase={1}mdb,cn=config
    objectClass:
      - olcOverlayConfig
      - olcSyncProvConfig
    attributes:
      olcSpCheckpoint: 100 10
      olcSpSessionLog: 100
    bind_dn: "cn=admin,cn=config"
    bind_pw: "{{ services_ldap_password }}"
    server_uri: "{{ ldap_uri }}"

# Leave this here in case we do want to build our own
# root database from scratch instead of relying on the
# domain based Debian slapd package setup
#
# - name: Setup main database
#   community.general.ldap_attrs:
#     dn: olcDatabase={1}mdb,cn=config
#     attributes:
#       olcSuffix: "{{ services_ldap.basedn }}"
#       olcRootDN: "{{ services_ldap.binddn }}"
#       olcRootPW: "{{ '%s' | format(services_ldap_password) |  slapd_hash }}"
#     state: exact
#
# - name: Set root credentials
#   community.general.ldap_attrs:
#     dn: olcDatabase={0}config,cn=config
#     attributes:
#       olcAccess: >-
#           {0}to *
#           by dn.exact=gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth manage
#           {% if environment_name=="vm" %}
#           by dn.exact=gidNumber=1000+uidNumber=1000,cn=peercred,cn=external,cn=auth manage
#           {% endif %}
#           by dn.exact="{{ services_ldap.binddn }}" manage
#           by * break
#     state: exact
#     bind_dn: "cn=admin,cn=config"
#     bind_pw: "{{ services_ldap_password }}"
#     server_uri: "{{ ldap_uri }}"
#
#
# - name: Get uid of openldap user
#   ansible.builtin.getent:
#     database: "passwd"
#     key: "openldap"
#
# # store it in a nice var (so line below doesn't get too long)
# - name: Save gid of openldap user
#   ansible.builtin.set_fact:
#     openldap_auth: "gidNumber={{ansible_facts.getent_passwd['openldap'][2]}}+\
#                     uidNumber={{ansible_facts.getent_passwd['openldap'][1]}}"
#

- name: Set ACLs
  community.general.ldap_attrs:
    dn: "olcDatabase={1}mdb,cn=config"
    attributes:
      olcAccess:
        - >-
          to dn.regex="(([^,]+),{{ services_ldap.basedn }})$"
          by dn.exact="{{ services_ldap.binddn }}" write
          by dn.exact=gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth write
          by dn.exact,expand="cn=admin,$1" read
          by * break
        - >-
          to *
          by dn.exact=gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth manage
          by dn.regex="cn=[^,]+,{{ services_ldap.basedn }}" read
          {% if environment_name=="vm" %}
          by dn.exact=gidNumber=1000+uidNumber=1000,cn=peercred,cn=external,cn=auth manage
          {% endif %}
          by * break
        - >-
          to attrs=userPassword
          by self write
          by anonymous auth
          by * break
    state: exact
    ordered: true
    bind_dn: "cn=admin,cn=config"
    bind_pw: "{{ services_ldap_password }}"
    server_uri: "{{ ldap_uri }}"

# ldap_rids:
#   101: ldaps://ldap1.scz-vm.net/
#   102: ldaps://ldap2.scz-vm.net/

- name: Set rids
  vars:
    start: 101
    rid:
      key: "%d"
      value: "{{ ldap_rid_prefix }}%s.{{ base_domain }}/"
    ldap_rids: {}
  set_fact:
    ldap_rids: >-
      {{ ldap_rids | combine({ rid.key | format(start|int):
      rid.value | format(item.key) }) }}
    start: "{{ start|int + 1 }}"
  with_dict: "{{ ldap_hosts }}"

# Voor toekomstige Claude gebruikers: onderstaande construct levert aan het eind
# een string representatie van de dict op, die niet meer gebruikt kan worden
# in de hieropvolgende 'Setup rids' task...
# - name: Set rids
#   set_fact:
#     ldap_rids: >-
#       {%- set result = {} %}
#       {%- for host in (ldap_hosts | dict2items | sort(attribute='key')) %}
#       {%-   set _ = result.update({(101 + loop.index0)|string: \
#         ldap_rid_prefix ~ host.key ~ '.' ~ base_domain ~ '/'}) %}
#       {%- endfor %}
#       {{ result }}

- name: Setup rids
  vars:
    rid: >-
      rid={}
      provider="{}"
      searchbase="{{ services_ldap.basedn }}"
      type=refreshAndPersist
      bindmethod=simple
      binddn="{{ services_ldap.binddn }}"
      credentials={{ services_ldap_password }}
      retry="30 +"
      timeout=30
      network-timeout=5
    rids: []
  set_fact:
    rids: "{{ rids  + [ rid.format(item.key, item.value) ] }}"
  with_dict: "{{ dict(ldap_rids) }}"

- name: Setup Syncrepl
  community.general.ldap_attrs:
    dn: olcDatabase={1}mdb,cn=config
    attributes:
      olcSyncrepl: "{{ rids }}"
      olcMultiProvider: "TRUE"
    bind_dn: "cn=admin,cn=config"
    bind_pw: "{{ services_ldap_password }}"
    server_uri: "{{ ldap_uri }}"

# We now have Syncrepl in place, so only write to primary
- name: Initialize DIT
  community.general.ldap_entry:
    dn: "{{ services_ldap.basedn }}"
    state: "present"
    objectClass:
      - "top"
      - "dcObject"
      - "organization"
    attributes:
      dc: "{{ services_ldap.basedn | regex_replace('^dc=([^,]+).*', '\\1') }}"
      o: "{{ services_ldap.o }}"
    bind_dn: "{{ services_ldap.binddn }}"
    bind_pw: "{{ services_ldap_password }}"
    server_uri: "{{ ldap_uri }}"
  when: >
      inventory_hostname in groups['ldap_primary']

# We now have Syncrepl in place, so only write to primary
- name: Add ldap admins
  include_tasks: "admins.yml"
  when: >
      inventory_hostname in groups['ldap_primary']
