# certbot config

{% if letsencrypt.use_staging %}
staging
{% endif %}

email={{mail.admin_address}}

agree-tos
max-log-backups 99

rsa-key-size 2048

authenticator = webroot
webroot-path {{letsencrypt.acme_challenge_dir}}

post-hook = /bin/bash -c 'if [ -x /usr/sbin/haproxy ]; then /bin/systemctl restart haproxy.service; else true; fi'
renew-hook = /bin/bash -c 'cd "$RENEWED_LINEAGE" && cat {{certbot.privkey_pem}} {{certbot.fullchain_pem}} > {{certbot.all_pem}}'

