RENEW_DAYS={{letsencrypt.renew_days}}
WELLKNOWN={{letsencrypt.acme_challenge}}
{% if letsencrypt.use_staging %}
CA="https://acme-staging.api.letsencrypt.org/directory"
CA_TERMS="https://acme-staging.api.letsencrypt.org/terms"
{% endif %}
