module: scz_micro_services.custom_uid.CustomUID
name: CustomUID
config:
    # internal attributes used to create custom uid
    select:
        - eduPersonPrincipalName
        - eduPersonTargetedID
    # internal custom uid transport attribute
    custom_attribute: cmuid

    # Set user_id to custom uid
    user_id: true
