module: scz_micro_services.metainfo.MetaInfo
name: MetaInfo
config:
    displayname: '*idpname'
    country: '*idpcountry'
    exceptions:
      'https://incommon.org': 'us'
      'http://kafe.kreonet.net': 'kr'
      'http://www.csc.fi/haka': 'fi'
