[Unit]
Description=SATOSA
After=syslog.target network.target

[Service]
Type=simple
User=satosa
Environment="REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt"
WorkingDirectory={{ satosa_env_dir }}
ExecStart={{ satosa_env_dir }}/bin/python \
    -O {{ satosa_env_dir }}/bin/gunicorn \
    -b127.0.0.1:{{ satosa_internal_port }} \
    satosa.wsgi:app
Restart=on-abort
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=satosa

[Install]
WantedBy=multi-user.target
