server {
        listen {{default_port}} default_server;
        listen [::]:{{default_port}} default_server;

        root /var/www/html;

        location / {
                autoindex on;
        }
}
