<?php
# vim:ft=php:
class DATABASE_CONFIG {

	public $default = array(
		'datasource' => 'Database/Mysql',
		'persistent' => false,
		'host' => 'localhost',
		'login' => '{{comanage_db_user}}',
		'password' => '{{comanage_db_password}}',
		'database' => '{{comanage_db}}',
		'prefix' => 'cm_',
		'encoding' => 'utf8',
	);
}
