PermitRootLogin no
PubkeyAuthentication yes
HostbasedAuthentication no
PasswordAuthentication no
ChallengeResponseAuthentication {% if sshd_authn_CR %}yes{% else %}no{% endif %}

PermitEmptyPasswords no

UsePAM yes

AllowAgentForwarding yes
AllowTcpForwarding yes
PrintMotd no
X11Forwarding yes
X11UseLocalhost no

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem sftp /usr/lib/openssh/sftp-server

