# a newer libpre is needed for php 5.6, so reduce prio of offical package
Package: libpcre3
Pin: release o={{ansible_distribution}}
Pin-Priority: 500

# prefer official packages over any launchpad packages
Package: *
Pin: release o={{ansible_distribution}}
Pin-Priority: 600

