[Unit]
Description=PLSC Runner

[Service]
User=root
Group=root
Type=oneshot
Environment="REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt"
Environment="PATH={{ plsc_dir }}/bin"
WorkingDirectory={{ plsc_dir }}
ExecStart={{ plsc_dir }}/run plsc.yml
RuntimeMaxSec=120

