---
# this role is used to install docker on the host
# only used on dev hosts

- name: Create docker config directory
  ansible.builtin.file:
    path: "/etc/docker"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0755"

- name: Install docker config
  ansible.builtin.copy:
    content: |
      {
        "log-driver": "journald",
        "log-opts": {
        }
      }
    dest: "/etc/docker/daemon.json"
    owner: "root"
    group: "root"
    mode: "0644"

- name: Install docker
  ansible.builtin.apt:
    name: "docker.io"
    state: "present"
  notify:
    - "start docker"

- name: Add ansible user to docker group
  ansible.builtin.user:
    name: "ansible"
    groups: "docker"
    append: true
