---
# this role is used to install docker on the host
# only used on dev hosts

- name: Add Docker GPG key.
  ansible.builtin.apt_key:
    url: "https://download.docker.com/linux/debian/gpg"
    state: "present"

- name: Add Docker repository.
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/debian bullseye stable"
    state: "present"

- name: Create docker config directory
  ansible.builtin.file:
    path: "/etc/docker"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0755"

- name: Install docker config
  ansible.builtin.copy:
    content: |
      {
        "log-driver": "journald",
        "log-opts": {
        }
      }
    dest: "/etc/docker/daemon.json"
    owner: "root"
    group: "root"
    mode: "0644"

- name: Install docker
  ansible.builtin.apt:
    # TODO We want to stay away from docker 29 for now, but
    # apt does not support <5:29 syntax
    name: "docker-ce=5:28.*"
    state: "present"
  notify:
    - "start docker"

- name: Add ansible user to docker group
  ansible.builtin.user:
    name: "ansible"
    groups: "docker"
    append: true

- name: Start Hello World container
  docker_container:
    name: "hello-world"
    image: "hello-world"
    state: "started"
    restart_policy: "always"

# hackish way to allow name resolution from the host
# it watches the docker daemon and updates /etc/hosts on the host
- name: Install name resolution container
  community.docker.docker_container:
    name: "{{ containers.docker_hoster }}"
    image: "{{ images.docker_hoster }}"
    state: "started"
    restart_policy: "always"
    volumes:
      - "/var/run/docker.sock:/tmp/docker.sock"
      - "/etc/hosts:/tmp/hosts"
