# local aliases.
# Note that this does not have the saem format as a regular /etc/aiases file
# (which has "key: value").  We have "key value"
mailer-daemon   root
nobody          root
hostmaster      root
{% if mail.debug_address is defined %}
root            {{ mail.debug_address }}
{% endif %}
