---
enable_ipv6: true

cert_dir: "/etc/ssl/scz"

haproxy:
  custom_dhparam: false
  dhparam_keysize: 2048

firewall_v4_incoming:
  - { name: bastion,      src: "{{iprange.bastion}}", dport:  "22", proto: tcp }
  - { name: public_http,                              dport:  "80", proto: tcp }
  - { name: public_https,                             dport: "443", proto: tcp }
  - { name: vnet,         src: "{{iprange.vm}}",      dport: "22,80,443,636", proto: tcp }

