---
firewall_v4_incoming:
  - { name: bastion,      src: "{{iprange.bastion}}",  dport:                    "22", proto: tcp }
  - { name: loadbalancer, src: "{{iprange.lb}}",       dport:                   "389", proto: tcp }
  - { name: loadbalancer, src: "{{iprange.lb}}",       dport:  "{{pam_clients_port}}", proto: tcp }
  - { name: vnet,         src: "{{iprange.internal}}", dport:                "22,389", proto: tcp }

pam_host: "0.0.0.0"
pam_clients_port: 8087
ldap_loglevel: "sync none"
