---
firewall_v4_incoming:
  - { name: bastion,      src: "{{iprange.bastion}}",  dport: "22",        proto: tcp }
  - { name: loadbalancer, src: "{{iprange.lb}}",       dport: "80",        proto: tcp }
  - { name: vnet,         src: "{{iprange.internal}}", dport: "22,80,443", proto: tcp }

metadata_project_dir: "/opt/metadata"
proxy_hostname: "localhost"
metadata_registration_authority: "http://federatie.example.org/"
