---
sbs_repository: "{{scz_repo.sbs.src}}"
sbs_version: "{{scz_repo.sbs.version}}"

firewall_v4_incoming:
  - name: loadbalancer
    src: "{{lb_ip}}"
    dport:  "{{sbs_server_port}}"
    proto: tcp

sbs_oidc_authz_endpoint: "https://{{ hostnames.oidc_op }}/authorization"
sbs_oidc_token_endpoint: "https://{{ hostnames.oidc_op }}/token"
sbs_oidc_userinfo_endpoint: "https://{{ hostnames.oidc_op }}/userinfo"

sbs_db_tls_cert: "{{wildcard_backend_cert.pub}}"
