<?php
/**
  * SURFnet SCZ Test backend metadata
  **/

$metadata['https://{{ hostnames.proxy }}/Saml2SP/proxy_saml2_backend.xml'] = array (
  'entityid' => 'https://{{ hostnames.proxy }}/Saml2SP/proxy_saml2_backend.xml',
  'description' =>
  array (
    'en' => 'SCZ Test SP',
  ),
  'OrganizationName' =>
  array (
    'en' => 'SCZ Test SP',
  ),
  'name' =>
  array (
    'en' => 'SCZ Test SP',
  ),
  'OrganizationDisplayName' =>
  array (
    'en' => 'SCZ Test SP',
  ),
  'url' =>
  array (
    'en' => 'https://meta.test.scz.lab.surf.nl/',
  ),
  'OrganizationURL' =>
  array (
    'en' => 'https://meta.test.scz.lab.surf.nl/',
  ),
  'contacts' =>
  array (
    0 =>
    array (
      'contactType' => 'technical',
      'givenName' => 'Technical',
      'emailAddress' =>
      array (
        0 => 'technical@test.scz.lab.surf.nl',
      ),
    ),
    1 =>
    array (
      'contactType' => 'support',
      'givenName' => 'Support',
      'emailAddress' =>
      array (
        0 => 'support@test.scz.lab.surf.nl',
      ),
    ),
  ),
  'metadata-set' => 'saml20-sp-remote',
  'AssertionConsumerService' =>
  array (
    0 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST',
      'Location' => 'https://{{ hostnames.proxy }}/Saml2SP/acs/post',
      'index' => 1,
    ),
    1 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
      'Location' => 'https://{{ hostnames.proxy }}/Saml2SP/acs/redirect',
      'index' => 2,
    ),
  ),
  'SingleLogoutService' =>
  array (
  ),
  'NameIDFormat' => 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent',
  'keys' =>
  array (
    0 =>
    array (
      'encryption' => false,
      'signing' => true,
      'type' => 'X509Certificate',
      'X509Certificate' => 'MIIDFDCCAfygAwIBAgIJAL30q8piZU1HMA0GCSqGSIb3DQEBCwUAMB8xCzAJBgNV
BAYTAk5MMRAwDgYDVQQDDAdiYWNrZW5kMB4XDTE3MDkxNTEzMjQ0OFoXDTI3MDkx
MzEzMjQ0OFowHzELMAkGA1UEBhMCTkwxEDAOBgNVBAMMB2JhY2tlbmQwggEiMA0G
CSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDZTq/p7+dvDWHtKdLbafSDel8yE+rM
CzCWl0pO1pflmeFS7zwIkN2OxT8Hjvw/apPdxgWxjJE7NXUEWxAHuDde4JbrOY40
/VPg+QSBkNMcENKCMEyKem3Tox8ruZhHbNvs3M5IG2f1Dvx7tU2YZMdcSs6U6PJg
qsFQ+PCM2BWGAEz7Ic6YISWDZsJIDWBE7cw99pMw9UFqK9kmHuKBVnwnjnJaAi1i
EdQitZa8fAF6OBCKRnazxgqX7UWSf+LC4AHfYKuJTZJTaPx52ofvll0ABaTohnmV
uXfILpwUFFXwOPN07iLAF2v+gqBRyhLjV1DxEJk6MMbR+ymMMwMtf6YLAgMBAAGj
UzBRMB0GA1UdDgQWBBQc9/wr+5WKS+JAy3y8m3bLubPWeTAfBgNVHSMEGDAWgBQc
9/wr+5WKS+JAy3y8m3bLubPWeTAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEB
CwUAA4IBAQAZ+MCfjzpzMNEqncBHbD+mw4gWRy28Pj2l8ogrrYvJXzx9L/uPlD2k
8dpjFNDQOWmqYVAKa769L37B6qn4960hXljcWdGKtJOqkTNbtOaAQs2vbd3yOOmf
RoydWqA/fTCZcnx0s+7mha8WZVuCHS3ShvkFVIPFg8NdMx6jj6e8tfvcQ8/R8yU3
jHVpGEDv0QGpDgGUt0zx+G6aGrQVxtNaezuPhCQTdDNmzSU1txSBtLzcW0CJvhJD
8tArwvnU3hMebwsrJ9RIvQQ/AnXPZK0BivjCcuFtek8Z39WtEKTVHXvAoQSkfcnC
XOkAuqSqVGuNtzuvzf28wA9QWGENja2d
',
    ),
  ),
  'validate.authnrequest' => false,
  'saml20.sign.assertion' => true,
);

$metadata['https://proxy.pilot.scz.lab.surf.nl/Saml2SP/proxy_saml2_backend.xml'] = array (
  'entityid' => 'https://proxy.pilot.scz.lab.surf.nl/Saml2SP/proxy_saml2_backend.xml',
  'description' =>
  array (
    'en' => 'SCZ Test SP',
  ),
  'OrganizationName' =>
  array (
    'en' => 'SCZ Test SP',
  ),
  'name' =>
  array (
    'en' => 'SCZ Test SP',
  ),
  'OrganizationDisplayName' =>
  array (
    'en' => 'SCZ Test SP',
  ),
  'url' =>
  array (
    'en' => 'https://meta.test.scz.lab.surf.nl/',
  ),
  'OrganizationURL' =>
  array (
    'en' => 'https://meta.test.scz.lab.surf.nl/',
  ),
  'contacts' =>
  array (
    0 =>
    array (
      'contactType' => 'technical',
      'givenName' => 'Technical',
      'emailAddress' =>
      array (
        0 => 'technical@test.scz.lab.surf.nl',
      ),
    ),
    1 =>
    array (
      'contactType' => 'support',
      'givenName' => 'Support',
      'emailAddress' =>
      array (
        0 => 'support@test.scz.lab.surf.nl',
      ),
    ),
  ),
  'metadata-set' => 'saml20-sp-remote',
  'AssertionConsumerService' =>
  array (
    0 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST',
      'Location' => 'https://proxy.pilot.scz.lab.surf.nl/Saml2SP/acs/post',
      'index' => 1,
    ),
    1 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
      'Location' => 'https://proxy.pilot.scz.lab.surf.nl/Saml2SP/acs/redirect',
      'index' => 2,
    ),
  ),
  'SingleLogoutService' =>
  array (
  ),
  'NameIDFormat' => 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent',
  'keys' =>
  array (
    0 =>
    array (
      'encryption' => false,
      'signing' => true,
      'type' => 'X509Certificate',
      'X509Certificate' => 'MIIDFDCCAfygAwIBAgIJAIfH+K01NOb0MA0GCSqGSIb3DQEBCwUAMB8xCzAJBgNV
BAYTAk5MMRAwDgYDVQQDDAdiYWNrZW5kMB4XDTE3MTAxNjEwNDQyOFoXDTI3MTAx
NDEwNDQyOFowHzELMAkGA1UEBhMCTkwxEDAOBgNVBAMMB2JhY2tlbmQwggEiMA0G
CSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCuq0wRasibxGSOCIi7J8iGExtF1eSk
humE1T6NySYx6wUTq9ABboqZcGw4YtZRk/PI4VL5tOGavL0zNWnj8r203T/l1EVP
ntes3OvamR1SZ0XOhfDHNDelXOZuNkPo48A5p2zFtCOFt2dIO6rSyUhtTkjkafZ1
UZRd1TR2I4qCu8gsRsRGN5oPSNT3qd1so8kbqJ+mE7c/47PnnfKXtAz4KDIsltkZ
l9wA8V5BDhNOC7Z/HPAVoPrz+/d2P347OyFpmxVzuYDMhBUbwgP0ol0CyzlMP1n4
kgulNiMN+ETVNknm0PbXxLHKJxy8X3pQ3ozx6H3fvIbFM35hQN1L5q3xAgMBAAGj
UzBRMB0GA1UdDgQWBBQ000Z4LpujuGaanyuUW92YX1NhCjAfBgNVHSMEGDAWgBQ0
00Z4LpujuGaanyuUW92YX1NhCjAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEB
CwUAA4IBAQBSPdWJgvuqUHV1W8ui47m/+sknEukE+J1zSRl+6B7f+wDKpNcfMjJg
mHk12eBlSepWzm0dBLmTDKyHwkIRDTiW0hZ4+A40vzsleZjPcI9CZMejJGgQjhdK
a7Vxvn4MnpQa3H151A8+OXIsoZ4GK/Tn1LLLb//ppkSUZlwg/PkpdQgQnF9pmNE5
0W30a99pf98EXQmoQjGDeSe9H79rOKm6PMkRed27hDE5xKsfVVgYdw7gzrVoJWuu
c4NdXpFiPQaHn31bajXaRHjUQ0XNLYNFENQ/1pNW2bC1JXra7cpF9duoGBO+puPs
O7lakDcatBBSkrOJlDmw4C9qhbMCgu7g
',
    ),
  ),
  'validate.authnrequest' => false,
  'saml20.sign.assertion' => true,
);
