<?php
/**
 * SURFnet {{ environment_string }} frontend metadata
 **/

$metadata['https://{{ hostnames.proxy }}/SamlMirrorIdP/proxy.xml/SamlSP/aHR0cHM6Ly9pZHAtdGVzdC5zY3oubGFiLnN1cmYubmwvc2FtbC9zYW1sMi9pZHAvbWV0YWRhdGEucGhw'] = array (
  'entityid' => 'https://{{ hostnames.proxy }}/SamlMirrorIdP/proxy.xml/SamlSP/aHR0cHM6Ly9pZHAtdGVzdC5zY3oubGFiLnN1cmYubmwvc2FtbC9zYW1sMi9pZHAvbWV0YWRhdGEucGhw',
  'description' =>
  array (
    'en' => '{{ environment_string }} Mirror IdP Proxy Org.',
  ),
  'OrganizationName' =>
  array (
    'en' => '{{ environment_string }} Mirror IdP Proxy Org.',
  ),
  'name' =>
  array (
    'en' => 'SURF {{ environment_string }} IdP',
  ),
  'OrganizationDisplayName' =>
  array (
    'en' => '{{ environment_string }} Mirror IdP Proxy',
  ),
  'url' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'OrganizationURL' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'contacts' =>
  array (
    0 =>
    array (
      'contactType' => 'technical',
      'givenName' => 'Technical',
      'emailAddress' =>
      array (
        0 => 'technical@{{ hostnames.proxy }}',
      ),
    ),
    1 =>
    array (
      'contactType' => 'support',
      'givenName' => 'Support',
      'emailAddress' =>
      array (
        0 => 'support@{{ hostnames.proxy }}',
      ),
    ),
  ),
  'metadata-set' => 'saml20-idp-remote',
  'SingleSignOnService' =>
  array (
    0 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST',
      'Location' => 'https://{{ hostnames.proxy }}/SamlSP/aHR0cHM6Ly9pZHAtdGVzdC5zY3oubGFiLnN1cmYubmwvc2FtbC9zYW1sMi9pZHAvbWV0YWRhdGEucGhw/sso/post',
    ),
    1 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
      'Location' => 'https://{{ hostnames.proxy }}/SamlSP/aHR0cHM6Ly9pZHAtdGVzdC5zY3oubGFiLnN1cmYubmwvc2FtbC9zYW1sMi9pZHAvbWV0YWRhdGEucGhw/sso/redirect',
    ),
  ),
  'SingleLogoutService' =>
  array (
  ),
  'ArtifactResolutionService' =>
  array (
  ),
  'NameIDFormats' =>
  array (
    0 => 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent',
    1 => 'urn:oasis:names:tc:SAML:2.0:nameid-format:transient',
  ),
  'keys' =>
  array (
    0 =>
    array (
      'encryption' => false,
      'signing' => true,
      'type' => 'X509Certificate',
      'X509Certificate' => 'MIIDFjCCAf6gAwIBAgIJAJu/wbpXSWIkMA0GCSqGSIb3DQEBCwUAMCAxCzAJBgNV
BAYTAk5MMREwDwYDVQQDDAhmcm9udGVuZDAeFw0xNzA5MTUxMzI0NDhaFw0yNzA5
MTMxMzI0NDhaMCAxCzAJBgNVBAYTAk5MMREwDwYDVQQDDAhmcm9udGVuZDCCASIw
DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJhCjoFAM/dPZSD6LuDuo5BFn6uq
P8PIoS0ntHFqUhXHx9835H+HoriOgdHH3EXgKzI/QQUHsNZTKTpYF/W+QohaqHAE
ifMQyH8ETGIGaHw8oAa2i/K6EGLhmFNdqeKej4b3guUlX76oZI5tJCPcyNgFPvDN
mlI5K/pCmdMkiiecon4IK/zNrwcVJVgmFIbqTw/FxtX7iUaPp+9BCYP060GX5Zlf
3SoPn5q9f86NC5YoyeSswnz7ICPB8hYCSOfljtfUr7oI3KaSXoWsiBlMt9O8QEj0
Ha1sthbI8QABq6cdxa6KaBrBD+Q9gWn2IemPwp/sAt5EIFEkRKDYMm0udK8CAwEA
AaNTMFEwHQYDVR0OBBYEFKakhc+JxFmNEh+B22DuEMWoh1TaMB8GA1UdIwQYMBaA
FKakhc+JxFmNEh+B22DuEMWoh1TaMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcN
AQELBQADggEBAB6l6KLL7hQKhVM4VvaFG5jzwGHzMiLjiOlAOtCcVPmo4rHjI5do
5qjf2ZRm+GRaKDVt351M27rvt5sQJFLN8AwlsYAgzWYx7G+/asHxFSi8bJm1RT1y
6bWQSDehmG1330izElcrv1LDHIAifFohYiTgxt5le8WL6tx9EG4b8cOhZf0PpVHU
6vb0UwFtLTGz4xhwy9QyZec8lNZV56SyrTj46Ymmxrv887ha0apgHcjSuA28kfb1
a1mKjhP3pHOEWF+dKKnF8Gb4c3r8HkiIrwKh9vkr/n2nbatHVxtqwsBCA2YWBlUf
SiHilQJo1ItURBohZS51TrRJtxuKgg/rGio=
',
    ),
  ),
  'UIInfo' =>
  array (
    'DisplayName' =>
    array (
      'en' => 'SURF {{ environment_string }} IdP',
    ),
    'Description' =>
    array (
      'en' => 'SURF {{ environment_string }} IdP description',
    ),
    'InformationURL' =>
    array (
    ),
    'PrivacyStatementURL' =>
    array (
    ),
    'Logo' =>
    array (
      0 =>
      array (
        'url' => 'https://{{ hostnames.sp }}/saml/resources/icons/ssplogo-fish-small.png',
        'height' => 41,
        'width' => 60,
      ),
    ),
  ),
);
$metadata['https://{{ hostnames.proxy }}/SamlMirrorIdP/proxy.xml/SamlMirrorSP/aHR0cHM6Ly9pZHAtdGVzdC5zY3oubGFiLnN1cmYubmwvc2FtbC9zYW1sMi9pZHAvbWV0YWRhdGEucGhw'] = array (
  'entityid' => 'https://{{ hostnames.proxy }}/SamlMirrorIdP/proxy.xml/SamlMirrorSP/aHR0cHM6Ly9pZHAtdGVzdC5zY3oubGFiLnN1cmYubmwvc2FtbC9zYW1sMi9pZHAvbWV0YWRhdGEucGhw',
  'description' =>
  array (
    'en' => '{{ environment_string }} Mirror IdP Proxy Org.',
  ),
  'OrganizationName' =>
  array (
    'en' => '{{ environment_string }} Mirror IdP Proxy Org.',
  ),
  'name' =>
  array (
    'en' => 'SURF {{ environment_string }} IdP',
  ),
  'OrganizationDisplayName' =>
  array (
    'en' => '{{ environment_string }} Mirror IdP Proxy',
  ),
  'url' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'OrganizationURL' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'contacts' =>
  array (
    0 =>
    array (
      'contactType' => 'technical',
      'givenName' => 'Technical',
      'emailAddress' =>
      array (
        0 => 'technical@{{ hostnames.proxy }}',
      ),
    ),
    1 =>
    array (
      'contactType' => 'support',
      'givenName' => 'Support',
      'emailAddress' =>
      array (
        0 => 'support@{{ hostnames.proxy }}',
      ),
    ),
  ),
  'metadata-set' => 'saml20-idp-remote',
  'SingleSignOnService' =>
  array (
    0 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST',
      'Location' => 'https://{{ hostnames.proxy }}/SamlMirrorSP/aHR0cHM6Ly9pZHAtdGVzdC5zY3oubGFiLnN1cmYubmwvc2FtbC9zYW1sMi9pZHAvbWV0YWRhdGEucGhw/sso/post',
    ),
    1 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
      'Location' => 'https://{{ hostnames.proxy }}/SamlMirrorSP/aHR0cHM6Ly9pZHAtdGVzdC5zY3oubGFiLnN1cmYubmwvc2FtbC9zYW1sMi9pZHAvbWV0YWRhdGEucGhw/sso/redirect',
    ),
  ),
  'SingleLogoutService' =>
  array (
  ),
  'ArtifactResolutionService' =>
  array (
  ),
  'NameIDFormats' =>
  array (
    0 => 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent',
    1 => 'urn:oasis:names:tc:SAML:2.0:nameid-format:transient',
  ),
  'keys' =>
  array (
    0 =>
    array (
      'encryption' => false,
      'signing' => true,
      'type' => 'X509Certificate',
      'X509Certificate' => 'MIIDFjCCAf6gAwIBAgIJAJu/wbpXSWIkMA0GCSqGSIb3DQEBCwUAMCAxCzAJBgNV
BAYTAk5MMREwDwYDVQQDDAhmcm9udGVuZDAeFw0xNzA5MTUxMzI0NDhaFw0yNzA5
MTMxMzI0NDhaMCAxCzAJBgNVBAYTAk5MMREwDwYDVQQDDAhmcm9udGVuZDCCASIw
DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJhCjoFAM/dPZSD6LuDuo5BFn6uq
P8PIoS0ntHFqUhXHx9835H+HoriOgdHH3EXgKzI/QQUHsNZTKTpYF/W+QohaqHAE
ifMQyH8ETGIGaHw8oAa2i/K6EGLhmFNdqeKej4b3guUlX76oZI5tJCPcyNgFPvDN
mlI5K/pCmdMkiiecon4IK/zNrwcVJVgmFIbqTw/FxtX7iUaPp+9BCYP060GX5Zlf
3SoPn5q9f86NC5YoyeSswnz7ICPB8hYCSOfljtfUr7oI3KaSXoWsiBlMt9O8QEj0
Ha1sthbI8QABq6cdxa6KaBrBD+Q9gWn2IemPwp/sAt5EIFEkRKDYMm0udK8CAwEA
AaNTMFEwHQYDVR0OBBYEFKakhc+JxFmNEh+B22DuEMWoh1TaMB8GA1UdIwQYMBaA
FKakhc+JxFmNEh+B22DuEMWoh1TaMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcN
AQELBQADggEBAB6l6KLL7hQKhVM4VvaFG5jzwGHzMiLjiOlAOtCcVPmo4rHjI5do
5qjf2ZRm+GRaKDVt351M27rvt5sQJFLN8AwlsYAgzWYx7G+/asHxFSi8bJm1RT1y
6bWQSDehmG1330izElcrv1LDHIAifFohYiTgxt5le8WL6tx9EG4b8cOhZf0PpVHU
6vb0UwFtLTGz4xhwy9QyZec8lNZV56SyrTj46Ymmxrv887ha0apgHcjSuA28kfb1
a1mKjhP3pHOEWF+dKKnF8Gb4c3r8HkiIrwKh9vkr/n2nbatHVxtqwsBCA2YWBlUf
SiHilQJo1ItURBohZS51TrRJtxuKgg/rGio=
',
    ),
  ),
  'UIInfo' =>
  array (
    'DisplayName' =>
    array (
      'en' => 'SURF {{ environment_string }} IdP',
    ),
    'Description' =>
    array (
      'en' => 'SURF {{ environment_string }} IdP description',
    ),
    'InformationURL' =>
    array (
    ),
    'PrivacyStatementURL' =>
    array (
    ),
    'Logo' =>
    array (
      0 =>
      array (
        'url' => 'https://{{ hostnames.sp }}/saml/resources/icons/ssplogo-fish-small.png',
        'height' => 41,
        'width' => 60,
      ),
    ),
  ),
);
$metadata['https://{{ hostnames.proxy }}/SamlIdP/proxy.xml'] = array (
  'entityid' => 'https://{{ hostnames.proxy }}/SamlIdP/proxy.xml',
  'description' =>
  array (
    'en' => '{{ environment_string }} IdP Proxy Org.',
  ),
  'OrganizationName' =>
  array (
    'en' => '{{ environment_string }} IdP Proxy Org.',
  ),
  'name' =>
  array (
    'en' => '{{ environment_string }} IdP Proxy',
  ),
  'OrganizationDisplayName' =>
  array (
    'en' => '{{ environment_string }} IdP Proxy',
  ),
  'url' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'OrganizationURL' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'contacts' =>
  array (
    0 =>
    array (
      'contactType' => 'technical',
      'givenName' => 'Technical',
      'emailAddress' =>
      array (
        0 => 'technical@{{ hostnames.proxy }}',
      ),
    ),
    1 =>
    array (
      'contactType' => 'support',
      'givenName' => 'Support',
      'emailAddress' =>
      array (
        0 => 'support@{{ hostnames.proxy }}',
      ),
    ),
  ),
  'metadata-set' => 'saml20-idp-remote',
  'SingleSignOnService' =>
  array (
    0 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST',
      'Location' => 'https://{{ hostnames.proxy }}/SamlSP/sso/post',
    ),
    1 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST',
      'Location' => 'https://{{ hostnames.proxy }}/SamlMirrorSP/sso/post',
    ),
    2 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
      'Location' => 'https://{{ hostnames.proxy }}/SamlSP/sso/redirect',
    ),
    3 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
      'Location' => 'https://{{ hostnames.proxy }}/SamlMirrorSP/sso/redirect',
    ),
  ),
  'SingleLogoutService' =>
  array (
  ),
  'ArtifactResolutionService' =>
  array (
  ),
  'NameIDFormats' =>
  array (
    0 => 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent',
    1 => 'urn:oasis:names:tc:SAML:2.0:nameid-format:transient',
  ),
  'keys' =>
  array (
    0 =>
    array (
      'encryption' => false,
      'signing' => true,
      'type' => 'X509Certificate',
      'X509Certificate' => 'MIIDFjCCAf6gAwIBAgIJAJu/wbpXSWIkMA0GCSqGSIb3DQEBCwUAMCAxCzAJBgNV
BAYTAk5MMREwDwYDVQQDDAhmcm9udGVuZDAeFw0xNzA5MTUxMzI0NDhaFw0yNzA5
MTMxMzI0NDhaMCAxCzAJBgNVBAYTAk5MMREwDwYDVQQDDAhmcm9udGVuZDCCASIw
DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJhCjoFAM/dPZSD6LuDuo5BFn6uq
P8PIoS0ntHFqUhXHx9835H+HoriOgdHH3EXgKzI/QQUHsNZTKTpYF/W+QohaqHAE
ifMQyH8ETGIGaHw8oAa2i/K6EGLhmFNdqeKej4b3guUlX76oZI5tJCPcyNgFPvDN
mlI5K/pCmdMkiiecon4IK/zNrwcVJVgmFIbqTw/FxtX7iUaPp+9BCYP060GX5Zlf
3SoPn5q9f86NC5YoyeSswnz7ICPB8hYCSOfljtfUr7oI3KaSXoWsiBlMt9O8QEj0
Ha1sthbI8QABq6cdxa6KaBrBD+Q9gWn2IemPwp/sAt5EIFEkRKDYMm0udK8CAwEA
AaNTMFEwHQYDVR0OBBYEFKakhc+JxFmNEh+B22DuEMWoh1TaMB8GA1UdIwQYMBaA
FKakhc+JxFmNEh+B22DuEMWoh1TaMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcN
AQELBQADggEBAB6l6KLL7hQKhVM4VvaFG5jzwGHzMiLjiOlAOtCcVPmo4rHjI5do
5qjf2ZRm+GRaKDVt351M27rvt5sQJFLN8AwlsYAgzWYx7G+/asHxFSi8bJm1RT1y
6bWQSDehmG1330izElcrv1LDHIAifFohYiTgxt5le8WL6tx9EG4b8cOhZf0PpVHU
6vb0UwFtLTGz4xhwy9QyZec8lNZV56SyrTj46Ymmxrv887ha0apgHcjSuA28kfb1
a1mKjhP3pHOEWF+dKKnF8Gb4c3r8HkiIrwKh9vkr/n2nbatHVxtqwsBCA2YWBlUf
SiHilQJo1ItURBohZS51TrRJtxuKgg/rGio=
',
    ),
  ),
);

$metadata['https://{{ hostnames.proxy }}/SamlIdP/proxy.xml'] = array (
  'entityid' => 'https://{{ hostnames.proxy }}/SamlIdP/proxy.xml',
  'description' =>
  array (
    'en' => '{{ environment_string }} IdP Proxy Org.',
  ),
  'OrganizationName' =>
  array (
    'en' => '{{ environment_string }} IdP Proxy Org.',
  ),
  'name' =>
  array (
    'en' => '{{ environment_string }} IdP Proxy',
  ),
  'OrganizationDisplayName' =>
  array (
    'en' => '{{ environment_string }} IdP Proxy',
  ),
  'url' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'OrganizationURL' =>
  array (
    'en' => 'https://{{ hostnames.meta }}/',
  ),
  'contacts' =>
  array (
    0 =>
    array (
      'contactType' => 'technical',
      'givenName' => 'Technical',
      'emailAddress' =>
      array (
        0 => 'technical@{{ hostnames.proxy }}',
      ),
    ),
    1 =>
    array (
      'contactType' => 'support',
      'givenName' => 'Support',
      'emailAddress' =>
      array (
        0 => 'support@{{ hostnames.proxy }}',
      ),
    ),
  ),
  'metadata-set' => 'saml20-idp-remote',
  'SingleSignOnService' =>
  array (
    0 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
      'Location' => 'https://{{ hostnames.proxy }}/SamlSP/sso/redirect',
    ),
    1 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect',
      'Location' => 'https://{{ hostnames.proxy }}/SamlMirrorSP/sso/redirect',
    ),
    2 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST',
      'Location' => 'https://{{ hostnames.proxy }}/SamlSP/sso/post',
    ),
    3 =>
    array (
      'Binding' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST',
      'Location' => 'https://{{ hostnames.proxy }}/SamlMirrorSP/sso/post',
    ),
  ),
  'SingleLogoutService' =>
  array (
  ),
  'ArtifactResolutionService' =>
  array (
  ),
  'NameIDFormats' =>
  array (
    0 => 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent',
    1 => 'urn:oasis:names:tc:SAML:2.0:nameid-format:transient',
  ),
  'keys' =>
  array (
    0 =>
    array (
      'encryption' => false,
      'signing' => true,
      'type' => 'X509Certificate',
      'X509Certificate' => 'MIIDFjCCAf6gAwIBAgIJAJu/wbpXSWIkMA0GCSqGSIb3DQEBCwUAMCAxCzAJBgNV
BAYTAk5MMREwDwYDVQQDDAhmcm9udGVuZDAeFw0xNzA5MTUxMzI0NDhaFw0yNzA5
MTMxMzI0NDhaMCAxCzAJBgNVBAYTAk5MMREwDwYDVQQDDAhmcm9udGVuZDCCASIw
DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJhCjoFAM/dPZSD6LuDuo5BFn6uq
P8PIoS0ntHFqUhXHx9835H+HoriOgdHH3EXgKzI/QQUHsNZTKTpYF/W+QohaqHAE
ifMQyH8ETGIGaHw8oAa2i/K6EGLhmFNdqeKej4b3guUlX76oZI5tJCPcyNgFPvDN
mlI5K/pCmdMkiiecon4IK/zNrwcVJVgmFIbqTw/FxtX7iUaPp+9BCYP060GX5Zlf
3SoPn5q9f86NC5YoyeSswnz7ICPB8hYCSOfljtfUr7oI3KaSXoWsiBlMt9O8QEj0
Ha1sthbI8QABq6cdxa6KaBrBD+Q9gWn2IemPwp/sAt5EIFEkRKDYMm0udK8CAwEA
AaNTMFEwHQYDVR0OBBYEFKakhc+JxFmNEh+B22DuEMWoh1TaMB8GA1UdIwQYMBaA
FKakhc+JxFmNEh+B22DuEMWoh1TaMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcN
AQELBQADggEBAB6l6KLL7hQKhVM4VvaFG5jzwGHzMiLjiOlAOtCcVPmo4rHjI5do
5qjf2ZRm+GRaKDVt351M27rvt5sQJFLN8AwlsYAgzWYx7G+/asHxFSi8bJm1RT1y
6bWQSDehmG1330izElcrv1LDHIAifFohYiTgxt5le8WL6tx9EG4b8cOhZf0PpVHU
6vb0UwFtLTGz4xhwy9QyZec8lNZV56SyrTj46Ymmxrv887ha0apgHcjSuA28kfb1
a1mKjhP3pHOEWF+dKKnF8Gb4c3r8HkiIrwKh9vkr/n2nbatHVxtqwsBCA2YWBlUf
SiHilQJo1ItURBohZS51TrRJtxuKgg/rGio=
',
    ),
  ),
);

