

Server={{zabbix_server}},127.0.0.1
ServerActive={{zabbix_server}}
Hostname={{ inventory_hostname }}
Timeout=10

TLSAccept=psk
TLSConnect=psk
TLSPSKIdentity={{ inventory_hostname }}
TLSPSKFile={{zabbix_psk_file}}
