# Configure olcSyncrepl
{% if inventory_hostname in groups['vm_ldap_slave']%}
dn: olcDatabase={1}mdb,cn=config
changetype: modify
add: olcSyncrepl
olcSyncrepl: rid=001
  provider="ldaps://{{ groups['vm_ldap_master'][0] }}/"
  searchbase="{{ services_ldap.basedn }}"
  type=refreshAndPersist
  bindmethod=simple
  binddn="{{ services_ldap.binddn }}"
  credentials={{ services_ldap_password }}
  retry="30 +"
  timeout=30
  network-timeout=5
{% endif %}
