dn: cn=config
changetype: modify
replace: olcTLSCertificateFile
olcTLSCertificateFile: "{{ ssl_certs_dir }}/{{ internal_base_domain }}.crt"
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: "{{ ssl_certs_dir }}/{{ internal_base_domain }}.key"
-
replace: olcTLSCACertificateFile
olcTLSCACertificateFile: "{{ ssl_certs_dir }}/{{ internal_base_domain }}.crt"
-
replace: olcTLSCipherSuite
olcTLSCipherSuite: "SECURE256:-VERS-DTLS-ALL:-VERS-SSL3.0:-VERS-TLS1.0:-VERS-TLS1.1:-RSA:-DHE-RSA:-ECDHE-RSA"
