# Configure olcSyncrepl
dn: cn=config
changetype: modify
add: olcServerID
{% for ldapserver in groups['ldap'] %}
{% if ldapserver == inventory_hostname %}
olcServerID: {{ loop.index }}
{% endif %}
{% endfor %}

dn: olcDatabase={1}mdb,cn=config
changetype: modify
add: olcSyncrepl
{% set i = 1 %}
{% for ldapserver in groups['ldap'] %}
{% if ldapserver != inventory_hostname %}
olcSyncrepl: rid={{ '%03d' % i }}
  provider="ldaps://{{ ldapserver }}/"
  searchbase="{{ services_ldap.basedn }}"
  type=refreshAndPersist
  bindmethod=simple
  binddn="{{ services_ldap.binddn }}"
  credentials={{ services_ldap_password }}
  retry="30 +"
  network-timeout=5
  timeout=30
{% endif %}
{% set i = i+1 %}
{% endfor %}
-
add: olcMirrorMode
olcMirrorMode: TRUE
