# Create the base dc, which will contain all COs
dn: {{ ldap.dc }}
o: {{ ldap.o }}
dc: {{ ldap.dc | regex_replace('^dc=([^,]+).*', '\\1') }}
objectClass: dcObject
objectClass: organization

# Create the admin identity
dn: {{ ldap.binddn }}
cn: admin
objectClass: organizationalRole

