# Create the admin identity
dn: {{ ldap.dc }}
o: {{ ldap.o }}
dc: {{ ldap.dc | regex_replace('^dc=([^,]+).*', '\\1') }}
objectClass: dcObject
objectClass: organization

dn: {{ ldap.binddn }}
cn: admin
objectClass: organizationalRole

# Create the organisational unit (ou) group, which will contain all groups
dn: {{ ldap.groupdn }}
ou: {{ ldap.groupdn | regex_replace('^ou=([^,]+).*', '\\1') }}
objectClass: top
objectClass: organizationalUnit

# Add a group to the group container
#dn: cn=irodsuser,{{ ldap.groupdn }}
#cn: irodsuser
#gidNumber: 2500
#objectClass: top
#objectClass: posixGroup

# Create the organisational unit (ou) people
dn: {{ ldap.basedn }}
ou: {{ ldap.basedn | regex_replace('^ou=([^,]+).*', '\\1') }}
objectClass: top
objectClass: organizationalUnit
