dn: olcDatabase={1}mdb,cn=config
changetype: modify
replace: olcSuffix
olcSuffix: {{ ldap.basedn }}
-
replace: olcRootDN
olcRootDN: {{ ldap.binddn }}
-
replace: olcRootPW
olcRootPW: {{ '%s' | format(ldap_password) |  slapd_hash }}
