[Unit]
Description=LDAP Checksum Runner

[Service]
User=root
Group=root
Type=oneshot
WorkingDirectory={{ ldap_checksum_dir }}
ExecStart=/bin/sh -c '{{ ldap_checksum_dir }}/checksum.sh > {{ ldap_checksum_docroot }}/'
RuntimeMaxSec=120
