[Unit]
Description=WebSSO daemon
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory={{ pam_websso.project_dir }}
ExecStart=/usr/bin/python3 websso_daemon.py
Restart=on-abort
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=websso-daemon

[Install]
WantedBy=multi-user.target
