driftfile /var/lib/ntp/ntp.drift

# upstream servers
{% for s in servers.ntp %}
server {{s}} iburst
{% endfor %}

# ACLs
# By default, exchange time with everybody, but don't allow configuration.
restrict -4 default kod notrap nomodify nopeer noquery
restrict -6 default kod notrap nomodify nopeer noquery

# local users may examine more closely
restrict 127.0.0.1
restrict ::1

# mgnt machines may get statistics
restrict {{iprange.mgnt}} nomodify notrap nopeer

