---
# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events
  push:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: "ubuntu-20.04"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout $GITHUB_WORKSPACE
        uses: actions/checkout@v2

      # Restore cache
      - name: Setup cache
        id: cache-docker
        uses: actions/cache@v2
        with:
          path: ~/docker-save
          key: docker-save-${{ hashFiles('docker/Dockerfile') }}

      # Decrypt secret
      - name: Copy secret
        shell: bash
        env:
          secret_vm: ${{ secrets.SECRET_VM }}
        run: "echo $secret_vm > secret_vm"

      # Run errands
      - name: Run errands
        run: |
          sudo rm -f /opt/pipx_bin/ansible*
          sudo rm -rf /etc/apt/sources.list.d/*
          sudo add-apt-repository --yes --no-update ppa:ansible/ansible
          sudo apt -q update
          sudo apt -y purge ansible
          sudo apt -y install ansible-base bridge-utils apparmor-utils
          sudo pip3 install --upgrade wheel yamllint jinja2 pyyaml selenium zabbix-api
          git clone https://github.com/dw/mitogen.git ~/mitogen
          cat docker/hosts | sudo tee -a /etc/hosts

      # apparmor is by default enabled for binaries _in_ the containers and is restricting
      # mysql from reading tls keys
      - name: Disable apparmor
        run: >
          sudo aa-status --json | jq '
            .profiles
            | to_entries
            | map( select( (.key | startswith("/") ) and .value=="enforce") | .key )
            | .[]
          ' | xargs sudo aa-complain

      # Install Ansible modules
      - name: Install Ansible modules
        run: >
          ansible-galaxy collection install -r requirements.yml

      # Restore docker cache
      # Run Syntax check
      - name: Run Syntax check
        run: ./scripts/syntax-check

      # Restore docker cache
      - name: Restore docker cache
        run: docker load -i ~/docker-save/scz-base-cache.tar || true
        if: steps.cache-docker.outputs.cache-hit == 'true'

      # Start containers without deploy
      - name: Start containers
        shell: bash
        run: "./start-vm --tags=none || true"

      # Runs a single command using the runners shell
      - name: Run start-vm
        shell: bash
        run: "./start-vm"

      # Runs a single command using the runners shell
      - name: Run start-vm --diff
        env:
          REEANTRANT: 1
        run: "./start-vm --diff"

      # Runs a single command using the runners shell
      - name: Run idempotency check...
        run: /usr/bin/python3 ./scripts/check-idempotency-status

      # Run SBS logintest
      - name: Run SBS logintest
        run: /usr/bin/python3 ./scripts/sbs-login.py

      - name: Show error output
        run: >
          ansible -v -i environments/vm/inventory --become "all" -m command -a "/bin/sh -c '
            echo ====journal===;
            journalctl -n200;
            if [ -e /var/log/apache2/error.log ]; then
              echo ===apache errorlog===;
              cat /var/log/apache2/error.log;
            fi;
            if [ -e /opt/sbs/sbs/log/sbs.log ]; then
              echo ===sbs log===;
              cat /opt/sbs/sbs/log/sbs.log
            fi;
            echo ===netstat===; netstat -lnp
          '"
        if: failure()

      # Destroy secret
      - name: Destroy secret
        run: shred secret_vm
        if: always()

      # Setup tmate session
      - name: Setup tmate session
        if: failure()
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true
        timeout-minutes: 45

      # Save docker cache
      - name: Save docker cache
        run: >
          mkdir -p ~/docker-save &&
          docker tag scz-base scz-base-cache &&
          docker save scz-base-cache -o ~/docker-save/scz-base-cache.tar &&
          ls -lh ~/docker-save || true
        if: steps.cache-docker.outputs.cache-hit != 'true'
